/* Skava local styling  */

/* Editorial */
.editorial-collection{
    .align-horizontal{
        display: block;
    .col-lg-4{
        width: 100%;
    }
        .col-lg-8{
            .bd-left-disabled-gray{
                border:none;
            }
        }
    }
}




