/* Skava global overwrites */
/*  Overwrite Global Desktop styles for Mobile */
#searchGrid { 
    padding-left: 10px;
    padding-right: 10px;
}
section#customerFavorites, section#featuredAuthor, section#featuredBrands, section#featuredEditorialSlot, section#gridViewSpotlight, section#hotBooks, section#hotBooksWithDesc, section#newWriters, section#nowShipping, section#searchGrid > div.bn-ccr-core-page-hero-1, section#searchGrid > div.bn-ccr-core-page-hero-2, section#summerReading, section#todaysDeal, section#vidEditorial, section.blog-rss-feed, section.featuredCategories {
    /* inherit from desktop
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    z-index: 2;
    */
    /* change for skava mobile */
    width: 100%;
}
/*  End Overwrite Global Desktop  */


/* H page headers to match proxy pages */
@media (max-width: 799px){
  .sk_passthroughPage #categoryHeaderContainer span.text-container {
    padding: 18px 21px 0;
  }
  .sk_passthroughPage #categoryHeaderContainer span.text {
    font-size: 30px;
    line-height: normal;
  }
  .sk_passthroughPage .sk_navCont {
    margin-top: 7px;
  }
}
/* End H page headers to match proxy pages */


/*  bnreads RSS Module  */
@media only screen and (max-width: 749px) {   
    .double .bnreads-viewport, .triple .bnreads-viewport{  
        overflow-x: scroll; 
        -webkit-overflow-scrolling: touch;  
    }
    .single .bnreads-pod img,.single .bnreads-img-wrap {float:none; margin-right:0;   }
}
@media only screen and (max-width: 599px) {  
   .button-module-more{
        top:15px;
        span {display:none;} 
        &:after{  content:">"; font-size:20px; } 
    }
}
/*  End bnreads   */


/* remove page heros from Skava mobile */
@media (max-width: 799px){
	.sk_passthroughPage .bn-ccr-core-page-hero-1, .sk_passthroughPage .bn-ccr-core-page-hero-2 {
		display: none;
	}
}
/* End page heros removal */


/* H page header and page margin (padding) fixes */
@media (max-width: 799px){
    #categoryHeaderContainer h1 {
      padding-right: 20px;
      padding-left: 20px;
      font-size: 20px;
      line-height: 30px;
      font-family: PoynterOSDisp-Semibold;
    }
    .html .links-container.browse {
      padding-right: 20px;
      padding-left: 20px;
    }
    .pageshell {
      padding-right: 20px;
      padding-left: 20px;
    }
}
/* End H page header and page margin (padding) fixes */


@media only screen and (max-width: 699px){

  /* BN Readouts - Banner */
  
  section#nookPromo {
    width: 100%;
  }

  section#nookPromo .text-link {
    display: block;
    border-left: 0;
    padding: 0;
    margin: 0;
  }
  
  /* BN Readouts - Customer Favorites */

  .landingPage .carousel-next, .landingPage .carousel-prev {
    display: none !important;
  }
  .landingPage .caroufredsel_wrapper {
    overflow-x: scroll !important;
    overflow-y: hidden !important;
  }
  .landingPage [id^=book-carousel] li {
    margin-right: 10px !important;
    width: 1470px !important;
  }

  div.featured-categories-container {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  /* NOOK Apps */

  #searchGrid section h2 {
    line-height: 1;
    margin: 20px 0;
    font-family: Poynter,Georgia,serif;
  }
  section#featuredEditorialSlot {
    width: 100%;
    padding-right: 24px;
  }
  #bookOfTheMonthText {
    width: 100%;
  }

  /* NOOK Media Kit */

  /* #promoContentContainer img {
    max-width: 100%;
  } */
}
 