@media only screen and (max-width : 699px) {

	.event-intro {padding:15px 10px 30px;}
	.event-intro h1 {font-size: 30px; line-height:42px; }

	.event-intro-links {width: 100%; height: auto; }
	.event-intro-link  {margin: 5px 0 20px 0; text-align:center; width: 100%; 
		&.locator{ 
			padding:12px 30px; 
		}
	}
 
}