
.main-body {padding:0;}

.hero1600 img {
	left:inherit !important;  
	max-width:100%;
	left:inherit;
}

/* padding around product carousels */
section#hotBooksWithDesc, section.featuredCategories { padding: 20px 10px;}
.bnreads { padding: 0 10px;}
.button-module-more {right:10px; padding: 4px 13px;}

section h2.event-hdr.dOnly{display:none;}

