/*CQ Module HTML PAGE adjustments */
.sticky-nav.event-hero-1600 img { 
  display:none;
  width: 0;
  left:0;
} 

@media only screen and (max-width: 875px) {
    .break-desktop {display:none;}
}

/*Gift Cards */
.gift-card-list {padding:0 20px;  }
.gc-item figcaption {text-align:center; }
@media only screen and (max-width: 599px) {  
   .gc-item {max-width: 100%;  width: 43%; text-align:center; margin:0 20px 0 0;  }    
}




/* //Smart Gift  */  
.smartgiftHero {width: 100%; text-align: center; position: relative;}
.smartgiftHero img{max-width: 100%; }
.smartgiftHeroContent {position: absolute; 
    top:5%;  
    width: 100%; 
    max-width: 650px;
} 
@media only screen and (min-width: 475px) {  
   .smartgiftHeroContent { top:15%;   }    
}
.smartgiftHeroContent {  
    font-family: Lato,sans-serif;
    font-weight: 400; 
    font-size: 13px; 
    line-height: 1.5;
}

.smartgiftHeroBrow { 
    color: #8f806b;
    letter-spacing: 3.25px;
}
.smartgiftHeroHdr {
    font-family: Poynter,Georgia,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px; 
    letter-spacing: -.25px;
    line-height: 1.25;
    color: #21285d;
    margin: 15px 0 8px;
}
.smartgiftHerohdrCopy {  
    color: #21282d;
    font-weight: 600;
    letter-spacing: 0;
    line-height:1.75;
}
/* Sub header */
header.text--center.smartgifth2 {
  margin:40px 0 38px 0; 
  text-align: center !important;
}
header.smartgifth2 h2.rule {
  color:#21282d;
  font-size: 24px; 
  text-align: center !important;
  display: block;
  margin:0  ; 
  line-height: 1;
}
/* How it works steps */
.smartgifttable {
  display: block;
 margin-bottom:18px;
}
.smartgiftSteps {
    margin-left:0;
    padding: 0 20px 30px 20px; 
    background-color: #fff; /* #eeeeed; */
    width:100%;
    display: block;
    border:none; 
} 
.smartgiftSteps:last-of-type { border: none;}
.smartgiftStep {
    font-size:55px; 
    text-align: center;
    margin-bottom:8px;
    float:none; 
}
.smartgiftStepCopy {
    font-size: 13px; 
    text-align: center;
    color:#666666; 
    display: block;
    margin-left:0;
   h3{
      font-size: 20px;
      color:#21282d; 
      margin-bottom:8px;
   }
 }
 .smartgiftCTA {margin-bottom:48px;}
 .smartgiftCTA .btn.btn--large{
  font-size: 14px !important;
  padding:12px 38px !important;
  height: auto;
}
 .smartgiftlegal{
  font-size: 12px;
  color:#666666;
  padding: 0 20px 65px;
  border-bottom: 1px solid #999;
}
/* //End Smart Gift   */




 



/* My Favorite Teacher */
 .mft-content { padding: 0 10px; }
	@media only screen and (max-width: 699px) {   
		.myFavTeacherAwards .fLeft,
		.myFavTeacherAwards .fRight {float:none; width: 100%;}
	}
/* End My Favorite Teacher */




/*   // Put Me In The Story */ 
@media only screen and (max-width: 986px) {   
  figcaption.mob {display:block; margin-bottom:10px;}
  figcaption.desk {display:none;}
  .pmis-sample {margin-bottom:15px; }
 .pmis-sample-product { 
    float: none;
    width:auto;
    margin:0 auto;
  }
  .pmis-sample-carousel {
    float: none; 
    width: 465px; 
    margin:0 auto 10px;
  }
}
@media only screen and (max-width: 799px) {   
  .pmis-hero {text-align: center;  }
  .pmis-hero>figure {height:auto; }
	.pmis-hero-img{ height:auto;}
  .pmis-hero-features {
    background-color: #fff; 
    position: relative; 
     margin: 0 auto;
    height:auto;
  }
  .pmis-hero-copy{ padding: 25px 25px 15px;} 

}


@media only screen and (max-width: 499px) {    
   .pmis-hero-copy{ 
    padding: 20px 25px 48px; 
    font-size: 15px;
    line-height: 1.5;
  }
  .pmis-hero-features h3 { margin: 0; } 

 .pmis-samplet {height:auto; overflow: hidden; }
 .pmis-sample-product { 
    float: none;
    margin:0 auto;
    padding:0;
  }
  .pmis-sample-carousel {
    float: none; 
    width: 350px; 
  } 
  .pmis-sample-carousel img {width:350px;}  
  .pmis-samplet-prev-item { left: 33%; } 
  .pmis-samplet-next-item { right: 33%;}
}


@media only screen and (max-width: 399px) {   
  .pmis-hero-features { padding: 0 0 20px 0; width:auto;}
  .pmis-hero-feature{   width:49%;font-size: 13px; height:182px;}

  .pmis-sample-carousel {
    float: none; 
    width: 300px; 
  }
   .pmis-sample-carousel img {width:300px;}  
}
 

  
@media only screen and (max-width: 899px) {   
  .pmis-child { 
    float:none;
    margin-right: 0;
    text-align: center;
  }
  .pmis-steps-list {width: 55%;  margin: 0 auto; padding: 0;}

}
@media only screen and (max-width: 699px) {   
  
    h3.pmis-steps-hdr{ font-size: 24px; }
    .pmis-child img{max-width:100%; }
    .pmis-steps-list {width:100%;  margin: 0 auto; padding: 0;}
    .pmis-steps-list {padding: 0 15px;}  
}

@media only screen and (max-width: 799px) {   
  .pmis-h-rule {margin:0 5px 35px; height:1px; border-top:1px solid #a7a5a5; }
  .pmis a.pmis-button{  margin-top: 35px; } 
  .pmis-sample { margin-top: 0; }
  .pmis-footnote { margin-top:25px;}

} 
.pmis-img-fluid {
    max-width: 100%;
    width: 100%;
    height: auto;
}

@media only screen and (max-width:768px) {
    .pmis-visible-sm {
        display: block;
    }
    .pmis-hidden-sm{
        display: none;
    }
}
/*   // END Put Me In The Story */





/* 2016 black friday signed editions */
.bfSignedEdIntroCopy {  margin: 20px;  }
@media only screen and (max-width: 805px) {  
    .jsonGridItem {  
        width: 130px;
    }
}
@media only screen and (max-width: 645px) {  
    .jsonGridItem {
        margin: 0 0 0 10px; 
        text-align: center;
        width: 30%;
    }
    .jsonGridImage { width:120px; margin:0 auto; }
}
@media only screen and (max-width: 459px) {  
    .jsonGridItem {   
        text-align: center;
        width: 45%;
    }
    .jsonGridImage { width:auto; max-width:120px; }
}




/*  2017  black friday signed editions  */ 
.bfSignedEdHero{
  min-height: 275px; 
  max-width:640px;
  margin:0 auto;
}
.bfSignedEdHero.mobile img { max-width: 100%; height: auto; }  
.signedEdIntroCopy{ font-size:18.5px; } 
@media only screen and (max-width: 359px) {
    .signedEdIntroCopy{ font-size:17px; } 
}

.authorSectionLink { font-size: 17px !important; }   
.bfSignedEdContent{ padding:0;
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   /* You can set flex-wrap and flex-direction individually */
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   /* Or do it all in one line with flex flow */
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   -webkit-align-content: flex-end;
   align-content: flex-end;

  .jsonGridTitle {
      color: #21282d;
      font-size: 14px;
      line-height: 1.2;
      margin: 0;
  }
  .jsonGridContributor {
      font-size: 12px;
      color: #737373;
      line-height: 1.2;
      margin: 7px 0 4px;
      text-transform: uppercase;
  }
} 
 
.bfStoreLocator{ margin-bottom: 17px;  }
.bfStoreLocatorlink  { font-size: 15px !important; }
.bfAuthorSectionLinksHdr {font-size: 18px !important; margin-bottom: 5px; }
.bfAuthorSectionLinks li{ font-size: 17px !important; width: 42px; height: 42px; } 

/* end black friday signed editions */







/* iPhone Download App */
 @media (max-width: 699px){
     .bnapp-hero {
         height: inherit;
         .module-bn {
             .modRight,
             .modLeft{
                 width: 100%;
                 float: none;
                 .modPodText{
                     padding: 10%;
                     padding-bottom: 0px;
                     text-align: center;
                     .bnapp-button-small{
                         text-align: center;
                         float: none;
                         margin: 0 auto;
                         padding: 0px;
                     }
                     .itunes-icon{
                         text-align: center;
                         margin: 10px auto;
                         float: none;
                         padding-top: 10px; 
                     }
                 }
                 .appPodImg{
                     text-align: center;    
                 }
             }
         }
     }
     
     h2.bnapp-hdr-standard{
         width: 90%;
         margin: 0 auto;
         text-align: center;
     }
     
    .bnapp-sbs{ 
         .module-bn{ 
             .modLeft {
                border-bottom: 1px solid #dbdbdb;
                float: none;
                display: inline-block;
                padding: 1% 0 3%;
                width: 100%;
                 .modPodImg{
                     padding-top: 2%;
                 }
             }
             .modRight {
                padding: 2% 0;
                 float: none;
                 width: 100%;
                 display: inline-block;
                 .modPodImg{
                     padding-top: 2%;
                 }
             }
         }
         .n-sep {
            display: none;
        }
    }
    
     .bnapp-categories-pod {
        clear: both;
        padding: 6% 0;
        width: 100%;
        float: none;
        
    }
     .bnapp-categories{
         .module-bn {
             padding: 6% 0 !important;
         }
     }
     .bnapp-hdr .inner{font-size: 0.8em;}
     
 }
/* End iPhone */