/*CQ Module HTML PAGE adjustments */
@media only screen and (max-width: 950px) {
    body .cms {min-width: 320px;}
    //body > header, main {width: auto;}
    .cms section.module {width: auto;}
     #txtBookSearch + .isbn-link-modal{  margin-right: 20px;  }

     .cms .btn-cardApply { display: inline-block; margin: 7px 10px; padding: 10px 40px;}
     .cms.mastercard img{max-width: 100%}
 }

@media only screen and (max-width: 875px) {
    //.break-desktop {display:none;}
    .collectionHdr h1:before, .collectionHdr h1:after  {  font-size: 26px;  background: none;  } 
    .collectionHdr h1 {  font-size: 26px;  }
 
    .cms section.module {margin-top:20px;}
    .cms .textbook-options figure {
        width:50%;  padding:18px 0; text-align: center; 
        float: left; 
        border-left: 1px #ccc solid; 
        border-top: 1px #ccc solid;
    }
    .cms .textbook-options figure.first{border-left: none; border-top: none;   }
    .cms .textbook-options a:nth-child(2) figure {  border-top: none;   }
    .cms .textbook-options a:nth-child(3) figure{  border-left: none;   }
    #txtBookSearch + .isbn-link-modal{ float: none; display: block;  margin: 40px 0 0 0; text-align: center; }
    section.return-msg p {width: 65%;}
}

@media only screen and (max-width: 699px) {
    #txtBookSearch  {width: auto;}
    #txtBookSearch input[type="text"] {
        width:400px;
        left:50%;
        margin-left:-200px;
    }
    #txtBookSearch input[type="submit"] { position: relative; left: 77%; margin-left: 0;}
    section.return-msg { text-align: center;
        position: relative; 
        padding: 0 15px;
        padding-bottom: 160px;}
    section.return-msg img {  position: absolute; right: 50%;   bottom: 0;   margin-right: -103px;z-index: 1;}
    section.return-msg p {width: auto;}
    .links-container.browse.textbooks  {display: none;}
}

@media only screen and (max-width: 599px) {
    .break-desktop {display:none;}
    .cms .heroImage img{max-width: 200%; margin-left: -57px; }
    .cms .textbook-options figure {width:100%;}
    .cms .textbook-options figure {border-left: none;  }
    .cms .textbook-options a:nth-child(2) figure {  border-top: 1px #ccc solid; } 
    #txtBookSearch  {width: auto;}
    #txtBookSearch input[type="text"] {
        width:280px;
        left:50%;
        margin-left:-140px;
    }
    #txtBookSearch input[type="submit"] { position: relative; left: 52%; margin-left: 90px; }
    .mc-features-box {float: none;width: 100%;}
    .mc-features-box.borderR {border: none;}

}
   












