/* NOOK Microsite */



@media only screen and (max-width: 699px){

  /* NOOK Comparison */

  .n-comp-2015 .n-comp-scroll .module-bn {
    width: 225%;
  }
  .n-comp-2015 .btn-nook-comparison {
    text-align: center;
    height: 45px;
    display: inline;
    padding: 10px;
  }

  /* NOOK Apps */

  #searchGrid section h2 {
    line-height: 1;
    margin: 20px 0;
    font-family: Poynter,Georgia,serif;
  }
  section#featuredEditorialSlot {
    width: 100%;
    padding-right: 24px;
  }
  #bookOfTheMonthText {
    width: 100%;
  }
  
  /* BN Readouts - Banner */
  
  section#nookPromo {
    width: 100%;
  }

  section#nookPromo .text-link {
    display: block;
    border-left: 0;
    padding: 0;
    margin: 0;
  }
  
  /* BN Readouts - Customer Favorites */

  .landingPage .carousel-next, .landingPage .carousel-prev {
    display: none !important;
  }
  .landingPage .caroufredsel_wrapper {
    overflow-x: scroll !important;
    overflow-y: hidden !important;
  }
  .landingPage [id^=book-carousel] li {
    margin-right: 10px !important;
    width: 1470px !important;
  }

  div.featured-categories-container {
    overflow-x: scroll;
    overflow-y: hidden;
  }

}