.textbook-hero-image  img { 
 	left: 100%;
    margin-left: -200%;
    position: relative;
} 
.textbook-topic h2 { 
    line-height: 1.65; 
    margin:0 0 20px 0; 
}
.textbook-topic { 
    font: 300 16px/1.618 $secondary-font;
}
.textbook-topic p {  
    padding: 0 25px;
}

/*  ISBN LINK */  

.cqTextBookSearch-isbn-link { font-size:15px;}
.textbook-store-search .cqTextBookSearch-isbn-link { width:170px; }

/*  Textbook store search fom position  */  
.textbook-store-search .cqTextBookSearch { margin:0 20px; }
.cqTextBookSearch-isbn-sample {  left:-117px; }

 /*  browse*/  
.textbooks .module-hdr { margin:20px;}
.links-container.browse.textbooks  {display: block;} 

@media only screen and (max-width: 669px) {   
	/* landing page stores */
	.textbook-stores { padding: 0; } 
	.textbook-stores a { 
	    padding: 25px 0; 
		float:none;
		width:auto;
		border-left: none; 
		border-top: 1px #ccc solid;
		margin:0 20px;   
	}
	.textbook-stores a:first-child {border-top: none;  }
	.cqTextBookSearch-isbn-sample { left:-56px; }
	.cqTextBookSearch-isbn-sample img {  max-width: 257px; }
	.links-container.textbooks > ul > li {
	    min-width: 45%;
	    padding-left: 20px;
	    width: 45%;
	} 
}





@media only screen and (max-width: 499px) {  
	.textbook-topic h2:after { 
	    display:none; 
	    float:none;
	}
	.textbook-store-search {
	    margin: 40px 0 90px;
	}
    .cqTextBookSearch {
	    height: 18px;
	    left:auto;
	    margin: 0 auto;
	    position: relative;
	    top: -200px;
	    width: 100%;
	}

	.cqTextBookSearch input[type="text"] {
	    border: 1px solid #fff;
	    border-radius: 0;
	    color: #000;
	    font-size: 16px;
	    font-weight: 300;
	    height: 60px;
	    padding: 2px 50px 0 20px;
	    position: relative;
	    width: 95%;
	}
	#txtBookSearchSubmit {right:5px;}

	/*  ISBN LINK */  
 	.cqTextBookSearch-isbn-link { top:-55px;width:190px;}
	.textbook-store-search .cqTextBookSearch-isbn-link {top:65px;}  
	.cqTextBookSearch-isbn-sample:after { left: 152px; }
	.cqTextBookSearch-isbn-sample:before { left: 150px;  }


}
 



