.textbook-hero-image  img { 
 	left: 100%;
    margin-left: -200%;
    position: relative;
} 

/*  ISBN LINK */  
.cqTextBookSearch-isbn-link { top: -105px;  width:190px;}



 /*  browse*/  
.textbooks .module-hdr { margin:20px;}
.links-container.browse.textbooks  {display: block;}

.cqTextBookSearch-isbn-sample { 
    left:-117px;
}

@media only screen and (max-width: 669px) {  
	 
	/* landing page stores */
	.textbook-stores { padding: 0; } 
	.textbook-stores a { 
	    padding: 25px 0; 
		float:none;
		width:auto;
		border-left: none; 
		border-top: 1px #ccc solid;
		margin:0 20px;   
	}
	.textbook-stores a:first-child {border-top: none;  } 

	.cqTextBookSearch-isbn-sample { 
	    left:-56px;
	}
	.cqTextBookSearch-isbn-sample img {
	    max-width: 257px;
	}


	.links-container.textbooks > ul > li {
	    min-width: 45%;
	    padding-left: 20px;
	    width: 45%;
	}

}





@media only screen and (max-width: 499px) {  
	 .cqTextBookSearch {
	    height: 18px;
	    left:auto;
	    margin: 0 auto;
	    position: relative;
	    top: -200px;
	    width: 100%;
	}

	.cqTextBookSearch input[type="text"] {
	    border: 1px solid #fff;
	    border-radius: 0;
	    color: #000;
	    font-size: 16px;
	    font-weight: 300;
	    height: 60px;
	    padding: 2px 50px 0 20px;
	    position: relative;
	    width: 95%;
	}
	#txtBookSearchSubmit {right:5px;}

	/*  ISBN LINK */  
	.cqTextBookSearch-isbn-link { top: -65px;  }




}

/*


	.textbook-store-hdr:before {
	    content: "";
	    height: 40px;
	    width: 50px;
	    display: block;
	    margin:0 auto 15px; 
	}
	.textbook-store-hdr.rent:before { 
	    background: transparent url('http://dispatch.barnesandnoble.com/content/dam/ccr/design/sprites/BN_Textbooks_Sprite.png') -5px -77px no-repeat;
	}
	.textbook-store-hdr.used:before { 
	    background: transparent url('http://dispatch.barnesandnoble.com/content/dam/ccr/design/sprites/BN_Textbooks_Sprite.png') -53px -77px no-repeat;
	}
	.textbook-store-hdr.new:before { 
	    background: transparent url('http://dispatch.barnesandnoble.com/content/dam/ccr/design/sprites/BN_Textbooks_Sprite.png') -103px -77px no-repeat;
	}
	.textbook-store-hdr.buy:before { 
	    background: transparent url('http://dispatch.barnesandnoble.com/content/dam/ccr/design/sprites/BN_Textbooks_Sprite.png') -150px -77px no-repeat;
	} 


*/



