/* Desktop */  
* { font-family:$secondary-font ; font-weight:400; } 
.screen-reader-text {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
} 

.event-copyrights { 
  text-align: center; 
  overflow: hidden; 
  padding:0 10px;
  margin-bottom: 30px;
   p { font-size:10px; line-height:12px;}
}
 
.event-5050-txt > a,
.event-intro-link { 
  border: 1px solid #044D77; 
  padding: 16px;
  color: #044D77;
  font-size: 15px;
  line-height:1;
  margin: 26px 8px 0;
  display: inline-block;
  *float: left;
}
.event-intro {
  .event-cta,.event-intro-link { 
    padding: 12px 16px 12px;
    text-transform: uppercase; 
     /* create sprite */
    &:hover { background: none; background-color:#3D6DB5;color: #fff; } 
    &.locator { padding-left:12px; background: none;}
    &:before { 
      content:" ";
      font-family:$secondary-font;
      font-size:25px;   
      vertical-align: middle;
    }
    &.locator:before {  
      padding-left: 27px; 
      background: rgba(0, 0, 0, 0) url("//dispatch.barnesandnoble.com/content/dam/ccr/design/sprites/Events_Sprite.png") no-repeat; 
      background-position: -9px -273px
    }
    &.locator:hover { padding-left:12px; background: none; background-color:#3D6DB5;color: #fff; }
    &.locator:hover:before {
      padding-left: 27px; 
      background: #3D6DB5 url("//dispatch.barnesandnoble.com/content/dam/ccr/design/sprites/Events_Sprite.png") no-repeat; 
      background-position: -31px -273px;

    }
    &.video:before {  
      padding-left:30px; 
      background: rgba(0, 0, 0, 0) url("//dispatch.barnesandnoble.com/content/dam/ccr/design/sprites/Events_Sprite.png") no-repeat; 
      background-position: -11px -242px
    } 
    &.video:hover:before {
      padding-left:30px; 
      background: #3D6DB5 url("//dispatch.barnesandnoble.com/content/dam/ccr/design/sprites/Events_Sprite.png") no-repeat; 
      background-position: -39px -242px;
    }
  }
}


.event-5050-txt > a:hover,
.event-intro-link:hover {
  color: #a3bcd9;
  border: 1px solid #a3bcd9;
  text-decoration: none;
  background-color:#3D6DB5;color: #fff; } 

.event-border-top{
  border-top: none; 
  margin-top:0; 
  padding-top:57px;
}