.event-info-wrapper{margin-bottom:30px;}
@media all and (max-width: 699px) {

  .event-info {
    border: none;
    color: #000000;
    font-family: $primary-font ;
    line-height: 26px;
    margin: 0 auto 12px;
    overflow: hidden;
    width: 100%;
  }
  .event-info-pod-txt, 
  .event-info-pod-img{
    float: none;
    max-width: 100%;
    width: 100%;
  }
  .event-info img { 
    max-width: 100%; 
  }
  .event-info-pod {
    border: 1px solid #e7e6e4;
    margin: 0 12px;
    //width: 12% !important;
  }
  .event-info-pod-copy {
    padding: 20px 10px;
  }


}
