.event-info {
  border: 1px solid #ccc;
  color: #000000;
  font-family: GillSans,Arial,sans-serif;
  line-height: 26px;
  margin: 0 auto 4px;
  overflow: hidden;
  width: 736px;
}
.event-info-pod {
  float: left;
  max-width: 736px;
}
.event-info-pod-img {
  // clear: both;
  // display: flex;
  float: left;
  width: 50%;
}
.event-info-pod-txt{
  float: right;
  width: 50%;
}
.event-info-pod-copy {
  display: block;
  padding: 30px 30px 15px;
}
.event-info-pod-copy h3, .event-info-pod-copy h3 i {
  font-family: "Poynter",Georgia,serif;
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}
.event-info-seperator {
  border-bottom: 1px solid #e7e6e4;
  display: block;
  margin:18px 0 12px 0;
}
.event-info-pod-date {
  font-size: 18px;
  font-family: GillSans,Arial,sans-serif; 
    font-weight: 500;
  margin-bottom: 10px;
  display: block;
}

.event-info-pod.ended .event-info-pod-date:before {  // Need update to sprite
    content:" ";   
    height:30px;
    width:30px;
    padding-left: 30px; 
    background: rgba(0, 0, 0, 0) url("http://dispatch.barnesandnoble.com/content/dam/ccr/design/sprites/Events_Sprite.png") no-repeat; 
    background-position: -116px -242px;
    font-size:22px;
}
.event-info-copy {
  font-family: GillSans,Arial,sans-serif;
    font-weight: 300;
  font-size: 16px;
  margin-bottom: 15px;
  display: block;
  a {font-family: inherit;font-size: inherit;}
}
