.hero1600 {
  position: relative; 
}
.hero1600-header {
  position: absolute;
  text-align: center;
  padding:0;
  height:auto; 
  width:100%;
  top:58px;
  // margin:58 0 0;
  z-index: 1;
}
 
.hero1600 figure { min-height:150px; }
.hero1600 img {
  position: relative; 
  top:0;
  left: -318px; 
  z-index: -1;
  text-align: center; 
}

  
.hero1600 h1 {  
    position: relative; 
    font-family: $primary-font;
    font-size: 60px;
    line-height: 45px;
    font-weight:normal; 
    padding-top: 4px;
    text-align: center;
    vertical-align: middle;  
}
.hero1600 h2{ 
    font-family: $primary-font;
    font-size: 20px;
    line-height: 26px; 
    font-weight:normal; 
    padding: 5px 0;
    text-transform: none; 
    text-align: center; 
}
 
