body { overflow-x: hidden; }
  
/* page-hero 1 desktop white text mobile black text  */
.bn-ccr-core-page-hero-1 .dwhite-mblack #promoContentContainer section#promoInfo h3, 
.bn-ccr-core-page-hero-1 .dwhite-mblack #promoContentContainer section#promoInfo .hero1-hdr, 
.bn-ccr-core-page-hero-1 .dwhite-mblack #promoContentContainer section#promoInfo p {color:#fff;}
/* page-hero 1 desktop white text mobile black text  */
.main-body .bn-ccr-core-page-hero-1 .dwhite-mblack #promoContentContainer section#promoInfo h3, 
.main-body .bn-ccr-core-page-hero-1 .dwhite-mblack #promoContentContainer section#promoInfo .hero1-hdr, 
.main-body .bn-ccr-core-page-hero-1 .dwhite-mblack #promoContentContainer section#promoInfo p {color:#000;}
 
.landingPage .main-content [id^='book-carousel'] li { width: 140px !important;margin-right: 10px !important;} 
 
#searchGrid section .textbook-topic h2  { line-height: 1.6; margin: 0 0 20px -24px;}

.main-content { 
  section#hotBooksWithDesc .caroufredsel_wrapper,
  section#hotBooks .caroufredsel_wrapper,
  section.blog-rss-feed {width:100% !important}

  section#hotBooksWithDesc,
  section#hotBooks {width:100%; border-top:1px solid #e7e6e4; box-shadow: none; margin-top:42px;padding:40px 0 0;}
  section h2.module-hdr,
  section#hotBooksWithDesc h2,
  section#hotBooks h2 {font-size:32px; line-height:1;text-align:center;margin-bottom:35px;} 
  section h2.event-hdr {font-size:30px; font-family: $primary-font; font-weight: 600; line-height:1;text-align:center;margin-bottom:29px;} 
   /* are we adjusting the event templt headers above"? */
 section h2.module-hdr{font-size:30px; margin-bottom:40px; }


  section#hotBooks div.prev-item,
  div.carousel-prev, 
  div.featured-prev-item, 
  .bx-prev {
    background-image: url("//dispatch.barnesandnoble.com/content/dam/ccr/h/events/b-fest/btn_prev_carousel_green.png");
  }

  section#hotBooks div.next-item,
  div.carousel-next, 
  div.featured-next-item, 
  .bx-next {
    background-image: url("//dispatch.barnesandnoble.com/content/dam/ccr/h/events/b-fest/btn_next_carousel_green.png");
  }

  section#hotBooks div.prev-item,
  section#hotBooksWithDesc div.carousel-prev, 
  section#hotBooksWithDesc div.featured-prev-item, 
  section#hotBooksWithDesc .bx-prev { left: -8px; }

  section#hotBooks div.next-item,
  section#hotBooksWithDesc div.carousel-next, 
  section#hotBooksWithDesc div.featured-next-item, 
  section#hotBooksWithDesc .bx-next { right: -8px; }

  .landingPage div.see-all {
    padding-left:0;
    padding-right:0;
    top: 40px;
  }

  section#hotBooksWithDesc .btn, 
  section#hotBooks .btn {
    background:none;
    border:none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }

/* banner with image on event pages */
  section#nookPromo {width:100%; margin:40px 0;}
  #nookPromo img { height:100px; width:1px;}




  .btn, [class*="btn"] { padding: 9px 0 8px; }

  div.see-all a:hover {text-decoration: underline;}

  [id^="book-carousel"] li a.carousel-image-link img { max-height: 180px;} 
  [id^="book-carousel"] li img { max-width: 130px;}

  .full-shadow {
    border-radius: 0;
    padding: 0;
  }

  .full-shadow:hover {
    border:none;
    padding: 0;
  } 

  [id^="book-carousel"] li a.carousel-image-link {
    height: 180px;
    width: 130px;
  }

  .landingPage [id^="book-carousel"] { padding: 0; }

  .cq-module-shadow-top, 
  .html .cq-module-shadow-top  {
    border-top-color: #e7e6e4;
    border:none; 
    -webkit-box-shadow: none;
    -moz-box-shadow: none; 
     box-shadow: none;  
    padding: 0 0 40px 0;
  }

  /* expand BNReads pod on the One Column Marketing page */
  //.triple .bnreads-pod { max-width: 29%; width: 29%;  margin-right:60px; }  
  .triple .bnreads-pods { margin: 0 30px; }
  .triple .bnreads-pod { max-width: 280px; width: 280px;  margin:0 10px; padding:0;} 
  .triple .bnreads-pod:last-of-type {  margin-right:0;} 
  .triple .bnreads-img-wrap {
    margin-bottom: 23px;
    max-height: 158px;
    max-width: 280px;
  }

  .double .bnreads-pod:last-of-type::before {background: none; }
  .double .bnreads-pod {width:48%;}

  .bnreads-pod .element-shadow,
  .bnreads-pod:hover .element-shadow {
     -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;   
  }

  .bnreads h1 {
    text-align:center;
    font-family: $primary-font;
    font-weight: 600;
    font-size:30px;
    line-height:1.4;
    margin: 0 0 25px;
    width: 100%;
  }
  .bnreads h3, .html .bnreads h3 { 
    margin-bottom:7px; 
  }
  .bnreads-pod p, .html .bnreads-pod p  { 
    font-family: $secondary-font;
    font-weight: 300;
    font-size:16px;
    line-height:1.9;
    margin-bottom: 10px;
  }
  

  .button-module-more{
    background:none; -pie-background-image: none;
     border:0 none;
    -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;   
    text-shadow:none; 
    border-radius: 0;   
    padding: 9px 0;
    text-align: right; 
    text-shadow: none; 
    top:45px;
  }
  .button-module-more a{text-decoration: none; color: #3169a8; }
  .button-module-more a:hover{text-decoration: underline; color: #3169a8; }
  .button-module-more:active  {   
    -webkit-box-shadow: none;-moz-box-shadow: none; box-shadow: none; 
  }
  .bnreads-pod .aLink {
    font-family: $secondary-font;
    font-weight: 500;
    color:#3D6DB5;
    text-decoration:none;
  }
  .bnreads-pod:hover .aLink,.bnreads-pod:focus .aLink { 
    text-decoration:underline;
  }
  .bnreads-pod .element-shadow {border:0 none; border-radius: 0;}

}

