#cq-html-renderer,.cq-html-renderer{height:0;width: 0;visibility: hidden;opacity: 0;}

@import "cartridges/overwrite-global";
@import "cartridges/overwrite-global-mobile";
.html{position: relative;  clear: left;
	* {
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	}
	@import "partials/var";
	@import "partials/reset"; 
	@import "partials/buttons";
	@import "partials/shadows";

	@import "modules/cms-mainRESKIN";	
 	@import "modules/cms-main-mobile";
	@import "modules/coupons-deals";
	@import "modules/coupons-deals-mobile";
	@import "cartridges/apply-desktop";
	@import "cartridges/apply-mobile";

	@import "modules/textbooks";
	@import "modules/textbooks-mobile";
	@import "modules/mastercard";
	@import "modules/mastercard-mobile";
}  