// Cafe Mobile
@media (max-width: 700px) {

  // Responsive tools 
  .hidden-xs {
    display: none;
  }

  .hidden-sm {
    display: none;
  }

  .visible-sm {

    display: block;
  }

  .clearfix-sm {
    clear: both;
  }

  .pageshell {
    padding: 0px !important;
    .copy{
      padding: 0 8px;
    }
    .row {
      border-top: 0px;
      margin: 0px;
      .col-sm-6{
        padding: 0px;
      }
    }

    figure {
      a {
        width: 100%;
        padding: 8px;
        .img-responsive {
          padding: 0px;
        }
      }
      figcaption {
        width: auto;
        background: none;
        font-style: normal;
        margin: 0px;
        position: inherit;
        color: #000;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: .025px;
        text-align: center;
        padding:0 0 10px 0;
      }
    }

    &.cafe-reasons {
      border-left: none;
      border-right: none;
      margin: 40px 0px 50px 0;
      padding-bottom: 20px;
      h1 {
        font-size: 24px !important;
        font-family: PoynterOSDisp-Semibold, Poynter;
        padding: 30px 0;
        line-height: 28px;
      }
      h2 {
        font-weight: 400;
        letter-spacing: .025;
        font-size: 16px !important;
        line-height: 19px;

      }
      p {
        font-weight: 300;
        font-size: 14px !important;
        line-height: 19px;
        margin-top: 15px;
        margin-bottom: 20px;
      }
      a {
        font-weight: 400;
        font-size: 15px !important;
        line-height: 19px;
        color: #056937;
      }
      .row {
        padding: 0 16px;
        .in-store {
          border-bottom: 1px solid #ccc;
          padding: 0 0 35px;
        }
        .member {
          padding: 50px 0;
          border-left: none !important;
        }
      }

    }

  } // CAFE SLICK
  .cafe-slick {
    margin-bottom: 37px;
    img {
      width: auto !important;
      max-width: 300% !important;
    }
    .genre-tile-header {
      h2 {
        font-family: Poynter, Georgia, serif;
        color: #fff;
        width: 101%;
        position: absolute;
        bottom: 0px;
        padding: 30px;
        background: linear-gradient(rgba(158, 158, 158, 0), black);
        text-align: center;
      }
    }
    .cafe-info {
      position: relative;
      transform: none;
      text-align: center;
      width: auto;

      p {
        color: #000 !important;
        padding-top: 25px;
        padding-bottom: 18px;
      }
      a {
        font-size: 15px;
        line-height: 22px;
        font-weight: 400;
        &.cafe-slick-btn {
          color: #fff;
          float: left;
          padding: 5px 30px;
          margin: 15px 0;
        }
      }

    } // End .cafe-slick
    .slick-slide {
      border: none;
    }
    .slick-list {
      min-height: 460px;
    }
    .slick-dots{
      padding-top: 18px;
      padding-bottom: 25px;
      border-bottom: 1ps solid #d8dcdd;
      button{
        &::after{
          border: none;
        }
      }
    }

  } // END CAFE SLICK
  // CAFE TABLE
  .cafe-hero {
    .hero-img-anchor {
      border: none;
      height: 340px;
      &:hover {
        border: none;
      }
      img {
        width: 300% !important;
        position: relative;
        transform: translateX(-58%);
        margin-bottom: 50px;
      }
    }
    .hero-slide {
      .hero-info {
        position: inherit;
        top: unset;
        transition: unset;
        width: auto;
        margin: 20px 30px;
        p {
          font-size: 16px;
        }
      }
    }
  }
  .cafe-table {
    .cafe-item {
      text-align: center;
      &.row{
        padding-bottom: 40px !important;
        border-bottom: 1ps solid #ccc;
      }
      div{
        height: auto;
        display: inline-grid;
      }
      h3 {
        font-family: "Poynter", serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: .025px;
        padding: 30px 30px 15px;
        overflow-wrap: break-word;

      }
      p {
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        margin: 10px 30px 40px 30px;
      }

      .cafe-item-img {
        width: 200px;
        height: auto;
        text-align: center;
        margin: 0 auto;
        padding-top: 40px;
      }
      .col-sm-12 {
        padding: 0px;
      }

    } // END CAFE SLICK
    // CAFE TABLE
    .cafe-hero {
      .hero-img-anchor {
        img {
          width: 300% !important;
          position: relative;
          transform: translateX(-60%);
        }
      }
      .hero-info {
        position: inherit;
        font-size: 14px;
        padding: 30px;
        p {
          font-size: 14px;
        }
      }

    }
  }

  .cafe-calories {
    padding: 0px;

    span {
      font-size: 13px;
      display: block;
      padding: 16px 60px;
      &::after {
        content: none !important;
      }
      &::before {
        content: 'calories' !important;
        display: inline-block;
        float: left;
        text-align: left;
        text-transform: uppercase;
        width: 50%;
      }
    }
  } // CAFE Beverage
  .cafe-item {
    div:nth-child(odd) span {
      background: #f5f5f5;
    }
    div:nth-child(even) span {
      background: #fff;
    }
    div:nth-child(3) span:before {
      content: "Tall (12oz)";
    }
    div:nth-child(4) span:before {
      content: "Grande (16oz)";
    }
    div:nth-child(5) span:before {
      content: "Venti (H:20oz, C:24oz)";
    }
    span {
      content: 'calories' !important;
      font-size: 13px;
      background: #f5f5f5;
      display: block;
      text-align: right;
      padding: 10px 10%;
      &::before {
        width: 50%;
        float: left;
        text-align: left;
      }
    }

  }

} // CLOSE @media
