//mobile
/* CAFE */

@media (max-width: 700px) {

    // Responsive tools 
    .hidden-xs {
        display: none;
    }
    .hidden-sm {
        display: none;
    }
    .clearfix-sm {
        clear: both;
    } // Pageshell
    .pageshell {

        figure {
            margin: 37px 0;
            a {
                width: 100%;
                .img-responsive {
                    padding: 0px;
                }
            }
            figcaption {
                background: none;
                font-style: normal;
                margin: 4px;
                padding: 5px 15px;
                position: inherit;
                color: #000;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: .025px;
                text-align: center;
            }
        }

        &.cafe-reasons {
            border-left: none;
            border-right: none;
            margin: 40px 0px 50px 0;
            padding: 40px 20px;
            h1 {
                padding-bottom: 50px;
                font-size: 24px !important;
                font-family: PoynterOSDisp-Semibold, Poynter;
                line-height: 28px;
            }
            h2 {
                font-weight: 300;
                letter-spacing: .025;
                font-size: 16px !important;
                line-height: 19px;

            }
            p {
                font-weight: 300;
                font-size: 14px !important;
                line-height: 19px;
                margin-top: 15px;
                margin-bottom: 20px;
            }
            a {
                font-weight: 400;
                font-size: 15px !important;
                line-height: 19px;
                color: #056937;
            }
            .row {
                .in-store {
                    border-bottom: 1px solid #ccc;
                    padding-bottom: 35px;
                }
                .member {
                    padding-top: 50px;
                    border-left: none !important;
                }
            }

        }
    }
    .cafe-slick {
        img {
            width: auto !important;
            max-width: 215% !important; 
        }
        .cafe-info {
            position: inherit;
            transform: none;
            text-align: center;
            width: auto;
            padding: 20px;
            h2 {
                color: #000 !important;
            }
            p {
                color: #000 !important;
                padding-top: 25px;
                padding-bottom: 18px;
            }
            a {
                font-size: 15px;
                line-height: 22px;
                color: #000 !important;
                font-weight: 400;
            }
        }

    } // End .cafe-slick

}
