.pageshell {
    .hidden-lg {
        display: none;
    }

    figure {

        .img-responsive {
            width: 100%;
            max-width: 100%;
            border: 1px solid #ccc;
            padding: 3px;
            &:hover {
                border-color: #5b965e;
            }
        }

        figcaption {
            font-style: italic;
            width: 91%;
            background: rgba(0, 0, 0, 0.8);
            margin: 4px;
            padding: 5px 15px;
            position: absolute;
            bottom: 5px;
            color: #ccc;
            font-size: 16px;
        }
    }

}

.cafe-reasons {
    margin: 40px 0;
    border: 1px solid #ccc;
    padding: 40px 3px;
    h1 {
        padding-bottom: 20px;
    }

    img {

        margin: 5px;
        float: left;
    }
    h2 {
        margin: 10px 0;
    }
    .border-left {
        border-left: 1px solid #ccc;
    }
    .row {
        .member {
            border-left: 1px solid #ccc;
        }
    }

}

.cafe-slick {
    margin-bottom: 40px;
    img {
        width: 100%;
        max-width: 100%;
    }
    .cafe-info {
        position: absolute;
        top: 50%;
        transform: translate(100%, 50%);
        text-align: center;
        width: 400px;
        h2 {
            font-family: PoynterOSDisp-Semibold, Poynter;
            font-size: 30px;
            color: #fff;
            padding-bottom: 15px;
        }
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            color: #fff;
            padding-bottom: 10px;
        }
        a {
            &.cafe-slick-btn {
                padding: 10px 30px;
                color: #fff;
                display: inline-block;
                position: relative;
                text-align: left;
            }
            &.arrow-box-green {
                background: #2d5444;
               
                &:after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    border: 9px solid;
                    border-color: #2d5444 transparent #2d5444 #2d5444; 
                    top: 0px;
                right: -16px;
                border-width: 16px;
                }
            }
            &.arrow-box-red {
                background: #ff0000;
                &:after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    border: 9px solid;
                    border-color: #ff0000 transparent #ff0000 #ff0000;
                }
            }

        }
    }
    .slick-list {
        overflow: hidden;
    }
    .slick-slide {
        float: left;
        width: 100%;
        overflow: hidden;
        border: 1px solid #ccc;
        padding: 3px;
        &:hover {
            border-color: #5b965e;
        }
    }
    .slick-dots {
        display: block;
        width: 100%;
        padding: 0;
        list-style: none;
        text-align: center;
        z-index: 2;
        bottom: 0px;
        margin-top: 20px;
        li {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 5px;
            padding: 0;
            cursor: pointer;
        }

        li:last-child {
            display: none;
        }

        li button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 20px;
            height: 20px;
            padding: 5px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;
        }

        li button:hover {
            background: white;
        }

        li button:before {
            font-family: 'slick';
            font-size: 60px;
            line-height: 20px;
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            content: '•';
            text-align: center;
            opacity: .25;
            color: black;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        li.slick-active button:before {
            opacity: .75;
            color: black;
        }
    }
}
