/* Container */

.container {
  padding: 0 20px;
}

h2.rule:after,
h2.rule:before {
  display: block;
}

/* SERIES List */

&.mobileSeries .container {
  max-width: 100%;
}

&.mobileSeries .container.author-series-indexes--series {
  max-width: 100%;
  padding: 0 !important;
}

&.mobileSeries .author-series-indexes--series h2.index-heading {
  padding: 0;
  margin: 0 0 15px;
  border-bottom: none;
  /* 1px solid #ccc */
  text-align: center;
  font-size: 24px;

}

&.mobileSeries #searchGrid section h2.index-heading {
  padding-left: 0 !important;
  line-height: .25!important;
}

&.mobileSeries .author-series-indexes--series .index-grid {
  padding: 10px 20px;
}

&.mobileSeries .author-series-indexes--series .index-grid .col ul li {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  padding-bottom: 0;
  text-align: center;
  list-style: none;
}


&.mobileSeries .author-series-indexes--series .index-grid .col ul li a {
  padding: 10px 20px;
  font-size: 16px;
  line-height: 1.3;
}

/* adjust main css file *** can be removed after ver-wrte in production *** */

&.mobileSeries .author-series-indexes--series .rule:after,
&.mobileSeries .author-series-indexes--series .rule:before {
  display: block !important;
}

/*.author-series-indexes--series .rule:not(.index-heading):after,
.author-series-indexes--series .rule:not(.index-heading):before {display: none;}*/

/* Contributor Page */

header h1.header-with-brackets {
  /* BB fix for Contributor landing page title */
  margin: 10px 10px 20px 10px;
}

#sectionLinkContainer {
  font-size: 17px;
  color: #ccc;
  text-align: center;
  margin-bottom: 30px;
}

.authorSectionLink {
  width: 42px;
  text-align: center;
  padding: 10px 0;
  color: #21282d;
  border: 1px solid white;
}

.authorSectionLink:hover,
a.authorSectionLink.active {
  width: 42px;
  text-align: center;
  padding: 10px 0;
  color: #21282d;
  border: 1px solid #21282d;
  text-decoration: none;
}

.index-grid .col ul {
  font-size: 14px;
  margin-bottom: .75rem;
  width: 100%;
  display: block;
  display: block;
  -webkit-flex-wrap: unset;
  flex-flow: unset;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
}

.author-image-carousel .discover-record-spotlight--popular-author .author-image {
  padding-top: 5rem;
  width: 100%;
}

/* Tabulation */

div a.read-more.show-more-pdp {
  display: none;
}

.tab-container .tab-list-container .tab-list .tab {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 4.0625rem;
}

.tab-container {
  margin-top: 5rem!important;
}

.author-tabs .tabpanel {
  position: unset;
  left: unset;
  overflow-y: scroll;
  height: 329px;
  float: left;
}

#author h2,
.tabpanel h2 {
  font-size: 16px;
}

.tabpanels .tabpanel,
.tabpanels .tabpanel div,
.expandable-section {
  font-size: 14px;
  line-height: 1.5;
  display: inline;
}

@media screen and (min-width: 601px) {
  .tab-container .tab-list-container .tab-list .tab {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
  .authorHeading {
    display: unset;
  }
}

@media screen and (max-width: 600px) {
  .author-tabs .tabpanels-container,
  #pdp-tabs .tab-container .tabpanels-container .tabpanel,
  .multi-author-carousel .multi-author-slide {
    width: 85vw !important;
  }
  .authorHeading {
    display: unset;
  }
}

/* Related Authors */

.carousel .author-image {
  padding-top: 5rem;
  width: 30%;
}

.author-image a {
  font-size: 14px;
  text-align: center;
}
.authorHeading {
  display: none;
}
.authorHeading p {
    margin-bottom: 24px;
}

/* Popular Authors carousel */

h2.rule {
    font-size: 24px;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding: 44px 0px 15px;
}
.rule:after, .rule:before {
    content: " ";
    position: relative;
    background-color: unset;
    display: block;
    height: 1px;
    -webkit-flex-grow: .5;
    flex-grow: .5;
}
.author-image a img {
    border: 1px solid #e3e3e3;
    margin: 0 auto .75rem;
    width: 125px;
    height: 125px;
    object-fit: cover;
    object-position: top left;
}
section.mb-xl {
    margin-bottom: 13.75rem!important;
    border-bottom: 1px solid #ccc;
    padding-bottom: 35px;
}

.author-image-carousel .carousel.init {
  overflow-x: scroll;
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  vertical-align: baseline;
  position: relative;
}

.product-shelf-image-cont {
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0;
  padding: 0 .75rem;
  outline: 0;
}

.product-shelf-tile {
  width: 135px;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.index-grid .col ul li a {
    line-height: 1.35;
    padding-left: 2.75rem;
    color: #346250;
}
.index-grid .col ul li {
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    padding-bottom: 3.125rem;
}


/* Discover Category */

.container.genre-index-refinements--discover-categories {
  max-width: 1024px;
  padding: 0;
  margin-bottom: 0 !important;
  margin-top: 18px;
}

.genre-index-refinements--discover-categories h2.index-heading {
  float: left;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #d0d4d5;
  height: 56px;
  padding: 14px 0px 0px 20px !important;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: rgb(33, 40, 45);
  position: relative;
  background: rgb(238, 238, 237);
  outline: 0px;
  transition: all 0.1s linear 0.1s;
  line-height: 1.8;
  display: inline-block;
}

.genre-index-refinements--discover-categories .index-grid {
  display: none;
}

.genre-index-refinements--discover-categories .index-heading {
  margin: 0;
}

.genre-index-refinements--discover-categories .index-grid .col ul li {
  flex-basis: 100%;
  padding-bottom: 13px;
  overflow: hidden;
}

.genre-index-refinements--discover-categories .index-grid .col ul li a {
  padding-left: 0;
  color: #346250;
}

.genre-index-refinements--discover-categories .index-grid {
  padding: .75rem .75rem 3.25rem 4.6rem;
  border-bottom: 1px solid #d0d4d5;
}

.genre-index-refinements--discover-categories h2.index-heading:first-of-type {
  border-top: 1px solid #d0d4d5;
}

.genre-index-refinements--discover-categories h2.index-heading.active {
  background-color: #ffffff;
  border-bottom: none;
}

.genre-index-refinements--discover-categories h2:after {
  float: right;
  margin-right: 15px;
  user-select: none;
  width: 21px;
  height: 22px;
  background-image: url(//d1b4ee4v90cgsg.cloudfront.net/b-n/skassets/bnb/v201801050221p/img/pdp_selected_2x.png);
  background-size: 189px 81px;
  background-repeat: no-repeat;
  background-position: -22px 0px;
  display: inline-block;
  background-color: transparent;
  content: "";
  position: relative;
  top: 3px;
}

.genre-index-refinements--discover-categories h2.active:after {
  background-position: -43px 0px;
}

.genre-index-refinements--discover-categories .index-grid .col ul {
  text-align: left;
}

.genre-index-refinements--discover-categories section {
  overflow: hidden;
}

#main-content .main-content.container h2 {
  font-size: 22px;
}

#main-content .main-content.container h2.rule:after,
#main-content .main-content.container h2.rule:before {
  display: block !important;
}

/* Slick Featured Categories - Pages: Dicover Categories / Series / Authors */

.slick-feat-cat {
  overflow: hidden;
  h3 {
    font-size: 15px;
  }

  h4 {
    font-size: 30px;
  }

  .genre-tile-title {
    letter-spacing: 2px;
    font-weight: 500;
    padding: 0 0 12px 0;
    margin: 0 0 6px 0; /* adjusted from 12px for line-height */
    border-bottom: none;
    position: relative;
  }
  .genre-tile-title:after {
    position: absolute;
    content: "";
    height: 1px;
    background-color: white;
    width: 40px;
    bottom: 0;
    left: calc(50% - 20px);
  }
  .genre-tile-footer {
    text-align: center;
    margin-top: 0px;
    padding: 0 20px 20px 20px;
    font-size: 16px;
    min-height: 150px;
  }
  .genre-tile-footer p {
    font-size: 15px;
    margin: 15px 0 12px 0;
    padding: 0 20px;
  }
  .genre-tile-link {
    font-size: 15px;
    color: #346250;
    margin: 0;
  }

  .slick-dots {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 0 6px 0;
    list-style: none;
    text-align: center;
    z-index: 2;
    bottom: 0px;

    li {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
    }

    li:last-child {
      display: none;
    }

    li button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
    }

    li button:hover {
      background: white;
    }

    li button:before {
      font-family: 'slick';
      font-size: 60px;
      line-height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      content: '•';
      text-align: center;
      opacity: .25;
      color: black;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    li.slick-active button:before {
      opacity: .75;
      color: black;
    }
  }
  .clearfix.slick-slide,
  .clearfix:before.slick-slide {
    display: none;
    visibility: hidden;
  }
  .clearfix.slick-slide {
    display: none;
    visibility: hidden;
  }
}

// Recover Record Spotlight
.series-detail .author-header {
  width: 100%;
  .author-header__details {
    font-size: 15px;
    p {
      padding: 0px !important;
      font-size: 16px !important;
    }
  }
}


.author-hero-product-shelf {
  padding-top: 40px !important;
  margin-bottom: 40px !important;
  .discoverFeaturedBook {
    overflow-x: scroll;
    height: auto;
    width: auto;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    vertical-align: baseline;
    position: relative;
    .product-shelf-tile {
      width: 215px !important;
      .product-image-container {
        float: left;
        width: 190px;
        .product-shelf-image-cont {
          max-height: none !important;
          max-width: initial
        }
      }
    }
    .product-shelf-image {
      max-width: initial;
      a img {
        max-width: 200px !important;
        float: left;
        width: 100%;
        max-height: none !important;
      }
    }
    .slick-track.product-shelf-grid {
      max-width: 670px;
      margin-top: 20px;
      widows: auto !important;
    }
  }
}


/* CONTRIBUTOR DETAILS PAGE (Bill) */

.container > .author-header {
  display: none;
}

.author-header {

  .col-lg-3 {
    width: auto;
    float: none;
  }

  .col-lg-8 {
    width: 100%;
  }

  .circle-image {
    float: none;
    margin: 0 auto;
  }

  .circle-image--large {
    width: 160px;
    height: 160px;
  }

  .author-header__details {
    margin-top: 32px;
    header h1 {
      margin: 0;
      font-size: 36px;
    }
    header h1.text--left {
      text-align: center;
    }
    .about-author {
      font-family: GillSans, sans-serif;
      font-weight: 600;
      font-size: 17px;
      line-height: 1.5;
      margin: 20px 0;
      padding: 0 10px;
      text-align: center;
    }
  }
}

/* CONTRIBUTOR DETAILS PAGE (BY) */

#view-more-discover {

  .col-lg-2 {
    display: none;
  }

  .col-lg-10.pl-l {
    width: 100%;
    padding: 0 !important;
  }

  div#searchGrid, div#searchGrid section#searchGrid {
    padding: 0 !important;
  }

  .product-shelf-grid .product-shelf-title a {
    font-weight: normal;
    font-family: PoynterOSDisp-Semibold, Poynter;
  }

}

.resultsListContainer {

  #gridView {

    .product-shelf-grid .product-shelf-tile {
      height: 345px !important;
      min-height: 345px !important;
      width: 50% !important;
    }

    .product-shelf-grid .product-info-view {
      text-align: center;
    }

    .product-shelf-grid .product-shelf-info .product-shelf-link a {
      display: none;
    }

    .product-shelf-grid .product-shelf-title a {
      font-size: 16px;
      color: #000;
      font-weight: normal;
    }

    .product-shelf-grid .product-shelf-pricing a.link > span:nth-child(1) {
      color: #346250;
    }

    .product-shelf-grid .product-info-view .product-shelf-title {
      padding-top: 5rem !important;
    }

    .product-shelf-tile .product-shelf-info .product-shelf-ratings {
      padding: 3rem 0px;
    }

    .product-shelf-grid .product-shelf-pricing > div {
      margin-bottom: 1.5rem;
    }

  }
  
  section.text--center.mt-m {
    margin-top: 20px;

    .pagination li span,
    .pagination li a {
      font-size: 20px;
      font-family: GillSansMTPro-Book,GillSansMTPro-Medium;
    }
    .pagination li.pagination__active {
      text-decoration: underline;
    }
    .pagination li {
      width: 30px;
    }

  }
  
  .results-listing-options {

    .row .col-lg-6 {
      width: 100%;
      text-align: center;
      font-size: 3.5rem;
      margin: 10px 0 20px !important;
    }

    .row .col-lg-3 {
      width: 40%;
    }

    .row .col-lg-3:nth-child(2) {
      width: 50%;
      padding-right: 19px !important;
    }

    .row .col-lg-3:nth-child(3) {
      width: auto;
    }

    .row .col-lg-3 > div:first-child {
      width: 100%;
      float: right;
    }

    .results-icons {
      left: 18.5rem;
      top: 2.4rem;
    }

    .results-icons .icons {
      width: 78px !important;
      float: left;
    }

    .row .col-lg-3 div.results-num {
      width: 50%;
    }

    .results-icons .icons a.selected {
      width: 7rem;
    }

    .results-icons .icons a#grid-view {
      float: left;
      margin-right: 14px;
    }

    .results-icons .icons a#list-view {
      float: left;
    }

    .results-icons .icons a#list-view.selected {
      float: right;
    }

  }

  .icon-gallery:before,
  .icon-list:before {
    font-size: 7rem;
  }

  .selectBox {
    height: 27px;
    border: 1px solid #346250;
    padding: 3px .375rem .375rem;
  }

  span.selectBox-title {
    display: none;
  }

  .selectBox-label {
    font-size: 18px;
    font-family: GillSansMTPro-Book, GillSansMTPro-Medium!important;
    color: #346250;
  }

  .selectBox-arrow:after {
    font-size: 12px;
    top: 33%;
    right: 4.5rem;
    color: #346250;
  }

  .selectBox-dropdown-menu#selectBox-0 {
    width: 284px !important;
    top: 7.7rem !important;
    max-height: none;
    border: 1px solid #999;
  }

  .selectBox-dropdown-menu#selectBox-0 a {
    font-size: 18px;
    font-family: GillSansMTPro-Book, GillSansMTPro-Medium!important;
    color: #828282;
  }

  .selectBox-dropdown-menu#selectBox-0 li {
    padding: 8px 0;
  }

  .selectBox-dropdown-menu#selectBox-1 {
    top: 7.7rem !important;
    max-height: none;
    border: 1px solid #999;
  }

  .selectBox-dropdown-menu#selectBox-1 a {
    font-size: 18px;
    font-family: GillSansMTPro-Book, GillSansMTPro-Medium!important;
    color: #828282;
  }

  .selectBox-dropdown-menu#selectBox-1 li {
    padding: 8px 0;
  }

  .selectBox#view1-replacement {
    width: 60px;
  }

  .selectBox#view1-replacement .selectBox-label {
    padding-left: 12px;
  }

  #listView {

    .row {

      .col-lg-3 {
        width: 45%;
      }

      .col-lg-8 {
        width: 55%;
      }

      .listView-h2 {
        padding-left: 0;
        font-size: 16px;
        color: #000;
        font-weight: normal;
        margin-top: 0px;
      }

      .publ-date {
        display: none;
      }

      .product-shelf-ratings .product-last-star {
        margin: 10px 0;
      }

      .product-shelf-ratings .product-shelf-reviews a {
        display: block;
        color: #000;
        text-decoration: underline;
        font-size: 14px;
        font-family: GillSansMTPro-Book,GillSansMTPro-Medium;
      }

      .product-shelf-ratings .product-shelf-reviews {
        margin-bottom: 10px;
      }

      .product-shelf-ratings {
        display: block;
      }

      .product-shelf-formats {
        font-size: 11px;
        line-height: 17px;
      }

    }
    
    .product-shelf-list .product-shelf-pricing th {
      padding-right: 5px;
    }
    .product-shelf-list .product-shelf-pricing th.format,
    .product-shelf-list .product-shelf-pricing th.buy-new,
    .product-shelf-list .product-shelf-pricing th.new-used {
      font-size: 12px;
    }
    
    .product-shelf-list .product-shelf-pricing td {
      padding: 5px 0;
    }

    .product-shelf-list .product-shelf-pricing td a.format {
      font-size: 12px;
    }

    .product-shelf-list .product-shelf-pricing td a.current,
    .previous,
    .discount,
    .other {
      font-size: 12px;
    }

    .product-shelf-list .product-shelf-author a {
      font-family: Lato, sans-serif;
    }

    .product-shelf-list .product-shelf-title h2.product-info-title a {
      font-size: 16px;
      font-family: PoynterOSDisp-Semibold,Poynter;
    }

    .product-shelf-list .mt-m {
      margin-top: 28px !important;
    }

    .product-shelf-list .pb-m {
      padding-bottom: 30px !important;
    }

  }

}

button#view-more-discover-btn {
  width: 132px;
  height: 52px;
  font-size: 14px;

  span.link-show-more--open {
    font-size: 2rem;
    top: -3px;
  }

  span.link-show-more {
    position: relative;
    top: -1px;
    display: inline-block;
  }

  span.link-show-more:after {
    font-size: 2rem;
  }

}

/* DISCOVER CATEGORIES PAGE TITLE */

.author-header .author-header__details header h1 {
  font-size: 30px;
}

.container > .author-header {
  display: block;
}

.author-header .author-header__details {
  margin-top: 15px;
}
