/* Coupons & Deals */

/*  mobile  */
 
.header h1 {
    font-family: Poynter,Georgia,serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    margin: 0;
    padding:0 20px;
}
.text--subheader {
    display: block;
    font-size: 14px;
    line-height: 1.5;
    margin: 5px 0 20px 0;
    padding:0 20px;
    text-align: center;
}
.text--center, .text--block-center{text-align: center;}
.text--uppercase {text-transform: uppercase;}
  
 .hero .hero-slide{
    height: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 0;
} 
 .hero .hero-slide img{
  max-width: 100%;
} 

 
.coupon-features .header1 {
    font-family: Poynter,Georgia,serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.35;
    margin: 0;
    padding:0 20px;
}
.coupon-features .header4 {
    font-family: Poynter,Georgia,serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}


.coupon-features {
  min-height:1rem;
  padding:20px;
  border-top: 1px solid #f9f8f4;

}
.coupon-features .btn{ 
  padding:0;
  margin:3px 5px 5px;
  background-color: transparent;
  border: none;
  height:auto;
  color: #21282d;
  border-bottom: 1px solid #21282d;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.coupon-features .color-lapis{ 
  /* deep blue */
 color: #112d4d;
}

.text--medium {
  font-size: 14px;
    line-height: 1.5
}
 

.coupon-promo {
  margin: 0 20px;
  padding: 10px 0 13px 0;
  position: relative;
}
.coupon-promo .brow.color-coal {color: #828c8e; margin:0;}
.coupon-promo .text--medium.color-coal.mt-xxs {color: #515b5b; }
.coupon-promo a,.coupon-promo a:hover {text-decoration: none;}
.coupon-promo .header3{
  font-size: 16px;
  line-height: 1.25;
  font-weight: 600;
  color:#346250; 
}
.promo-item-name{display:table;}
.promo-item-name div{  display:table-cell; vertical-align: middle; min-width: 25px;}
.promo-item-name .arrow:after{
  content: "";
  display: block;
    background: rgba(0, 0, 0, 0) url("//d1b4ee4v90cgsg.cloudfront.net/b-n/skassets/bnb/v201705160242p/img/sprite-categories_2x.png") repeat scroll -38px -3px / 276px 84px;
    height: 17px;
 

    white-space: nowrap;
    width: 11px;
    margin-left: 10px;
}
 
.coupon-promo-copy-height{height:auto;}
.coupon-promo .btn.btn--medium {display: none;}

.coupon-promo.bd-b-geyser  {
    border-bottom: 1px solid #cccccc;
}

.bg-peach {
    background-color: #efd1bc;
}
.bg-mist {
    background-color: #c9dbe2;
}
.rose, .color-rose {
    color: #a36b6c; 
}




