/* skava */

.skavahide {
    display: none !important;
}

.main-content.container,
.container.container--no-padding-bottom {
    padding: 0 !important;
}

.container.container--no-padding-bottom .col-lg-10.pl-l {
    float: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}

header h1 {
    font-family: PoynterOSDisp-Semibold, Poynter;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
    margin: 10px;
}

.header h1 {
    font-family: PoynterOSDisp-Semibold, Poynter;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
    margin: 0;
    padding: 0 20px;
}

.text--subheader {
    display: block;
    font-size: 14px;
    line-height: 1.5;
    margin: 5px 0 20px 0;
    padding: 0 20px;
    text-align: center;
}

.text--center,
.text--block-center {
    text-align: center;
}

.text--uppercase {
    text-transform: uppercase;
}


/*  grid widths */

.col-lg-12 {
    width: 100%;
}


/*  Background colors  */

.bd-geyser {
    border: 1px solid #d0d9df;
}

.bg-white {
    background-color: #ffffff;
}

.bg-deep-blue {
    background-color: #112d4d;
}


/* components */


/*  alerts.promo-pdp-textbook  general banner -- initial on textbooks landing  */

.promo-pdp {
    line-height: 1.2;
    margin: 0 0 5px;
    width: 100%;
}

.promo-pdp .container {
    margin: 0 auto !important;
    padding: 30px 10px !important;
    display: block;
    text-align: center;
}

.promo-pdp--light-text a {
    font-family: PoynterOSDisp-Semibold, Poynter;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
}

.promo-pdp--light-text .promo-pdp__cta {
    color: #fff;
    display: block;
    text-decoration: underline;
    font-size: 14px;
}


/* Product Editorial */

.html {
    .row {
        margin: 0px;
        padding: 15px 0;
    }
    .mb-xs {
        text-align: left;
        margin: 0px;
        h2 {
            &:after {
                content: ">"
            }
        }
    }
    h2 {
        font-size: 19px;
    }
    p {
        font-size: 13px;
    }
    .rule:after,
    .rule:before {
        height: 0px;
        -webkit-flex-grow: 0;
    }
    .editorial-collection {
        .align-horizontal {
            display: block;
            .col-lg-4 {
                width: 100%;
            }
            .col-lg-8 {
                width: 100%;
                .bd-left-disabled-gray {
                    border: none;
                    .product-shelf-grid {
                        width: 100%;
                        .product-shelf-tile {
                            width: 33.33333333%;
                        }
                    }
                }
            }
        }
        h3 {
            &.title {
                font-size: 16px;
            }
        }
    }
}
.product-shelf-info{
    text-align: center;
    border-top: 0px; 
}
.product-shelf-tile {
    display: table-cell;
    padding-right: 20px;
    width: 114px !important;
    .product-shelf-image {
        img {
            max-width: 100px;
        }
    }
}

.product-shelf-title{
    text-align: center;
    a {
        text-decoration: none;
        color: #010101;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 14px;
    }
}

.product-shelf-author {
    font-size: 14px;
    text-align: center;
    a {
        text-decoration: none;
        color: #4e4e4e;
        line-height: 20px;
    }
}
.product-shelf-grid .product-shelf-image-cont{
    width: 114px !important;
    min-width: 0px;
}
.product-shelf-favorite,
.product-shelf-curl,
.product-shelf-ratings{
    display: none;
}
