<%@include file="/apps/bn-ccr-core/includes/global.jsp"%>
    <%@page session="false" %>
        <%@ page import="com.day.cq.wcm.foundation.Image" %>
            <c:set var="title" value="${fn:trim(properties.title)}" />
            <c:set var="paragraph" value="${fn:trim(properties.text)}" />
            <c:set var="image_alt" value="${fn:trim(properties.image_alt)}" />
            <c:set var="image_title" value="${fn:trim(properties.image_title)}" />
            <c:set var="link_attr" value="${fn:trim(properties.url_attr)}" />
            <c:set var="button_label" value="${fn:trim(properties.buttonLabel)}" />
            <c:set var="url" value="${fn:trim(properties.url)}" />
            <c:set var="modalType" value="${fn:trim(properties.modalType)}" />
            <c:set var="positionContent" value="${fn:trim(properties.positionContent)}" />
            <c:set var="asset_id" value="${fn:trim(properties.modallink)}" />
            <c:set var="media_title" value="${fn:trim(properties.mediatitle)}" />
            <c:set var="element" value="cqph" />
            <c:set var="adformat" value="imagetext" />
            <c:set var="ica" value="${element}_${positionContent}_${cc:getReplaceICA(title)}_${cc:getReplaceICA(button_label)}_${adformat}" />

            <section class="hero mb-xxl">
                <!-- START 'department-hero-components' -->
                <div>
                    <div class="${positionContent} hero-slide ${ fn:trim(properties.formatColor)}" aria-label="${title}: ${paragraph}">

                        <c:choose>
                            <c:when test="${cb:isNotBlank(button_label)}">
                                <a href="${url}" class="hero-img-anchor" onclick="set_cookie('${ica}');" tabindex="0">
                                    <cb:drawImage title="${image_title}" alt="${image_alt}" css="cover" />
                                </a>
                            </c:when>
                            <c:otherwise>
                                <cb:drawImage title="${image_title}" alt="${image_alt}" css="cover" />
                            </c:otherwise>
                        </c:choose>

                        <c:choose>
                            <c:when test="${positionContent == 'hero-empty'}">
                                <div class="hero-info"></div>
                            </c:when>
                            <c:otherwise>
                                <div class="hero-info">
                                    <h2>${title}</h2>
                                    <p class="mb-s mb-sm-ss"> ${paragraph} </p>
                                    <c:choose>
                                        <c:when test="${modalType == 'btn--video'}">
                                            <button class="btn btn--ghost btn--video" aria-label="${button_label}" data-modal-class="BN.Modal.Browse.PDP.Video" data-media-title="${media_title}" data-media-stem="" data-asset-id="${asset_id}" data-asset-source="" data-asset-skin=""> <span class="icon-play"></span> <span class="label">${button_label}</span> </button>

                                            <c:if test="${cb:isNotBlank(url)}"><a href="${url}" class="text--uppercase mt-s">Shop Now</a></c:if>
                                        </c:when>
                                        <c:when test="${modalType == 'btn--tandc'}"> <a href="${url}" data-modal-class="BN.Modal.External.Link" data-modal-scrolling="yes" class="btn btn--ghost">${button_label}</a> </c:when>
                                        <c:otherwise>
                                            <c:if test="${cb:isNotBlank(button_label)}"><a href="${url}" class="btn btn--ghost">${button_label}</a> </c:if>
                                        </c:otherwise>

                                    </c:choose>
                                </div>
                            </c:otherwise>
                        </c:choose>
                    </div>
                </div>
                <!-- END 'department-hero-components' -->
            </section>

/*
 Remove <hr> after the H2
 change the P after the <H2> to <p class="mb-ss">
*/

<style type="text/css">
.hero{
    display: block;
}
hr {
    display:none;
}
.hero .hero-img-anchor {
    border: unset;
}
@media screen and (max-width: 1024px){
.hero .hero-slide .hero-img-anchor img {
    height: 280px;
    width: auto;
    overflow-x: hidden;
}
.hero .hero-slide .hero-info h2 {
    font-size: 25px;
    letter-spacing: .5151px;
    padding: unset;
    line-height:1.25;
    margin-bottom: 5px;
}
.hero .hero-slide.hero-left .hero-info {
    margin: -.5rem 0 0 6.25rem;
}
}

@media screen and (max-width: 909px){
.hero .hero-slide .hero-img-anchor img {
    height: 250px;
    width: auto;
    overflow-x: hidden;
}
.hero .hero-slide, .hero .slick-slide {
    height: 250px;
}

.hero .hero-slide.hero-left .hero-info {
    width: 270px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    font-family: Lato;
    color: #21282d;
    margin: -.5rem 0 0 6.25rem;
}
.hero .hero-slide .hero-info h2 {
    letter-spacing: .5151px;
    padding: unset;
}
.hero .hero-slide .hero-info p {
    margin-top: 5px;
    font-size: 14px;
    letter-spacing: 0.4945456px;
    padding: unset;
}
.hero .hero-slide .hero-info a.btn {
    width: 145px;
    height: 42px;
    background-color: unset;
    border: 1px solid;
}
.hero .hero-slide .hero-img-anchor img {
    height: 250px;
    width: auto;
    overflow-x: hidden;
}
}

@media screen and (max-width: 600px){

.hero .hero-slide.hero-right, .hero .hero-slide.hero-left {
    display: flex;
    flex-direction: column;
    background: #525b5b;
}

.hero .hero-right.hero-slide .hero-info,
.hero .hero-left.hero-slide .hero-info {
    display: block;
    transform: unset;
    position: unset;
    margin: 20px auto;
    max-width: 370px;
    font-weight:500;
    width: 100%;
}

.hero .hero-slide .hero-img-anchor {
    display: inline;
    height: auto;
    width: auto;
    /* transform-origin: top right; */
}
.hero .hero-slide .hero-img-anchor img {
    max-height: 294px;
    width: 100%;
    overflow: hidden;
    /* -webkit-mask-position-x: left; */
    /* -webkit-transform-origin-x: right; */
    /* transform-origin: top center; */
    /* margin-top: 5px; */
    /* float: right; */
    height: auto;
}
.hero .hero-slide.hero-dark .hero-info,
.hero .slick-slide.hero-dark .hero-info,
.hero .hero-slide.hero-light .hero-info,
.hero .slick-slide.hero-light .hero-info {
    color: #ffffff;
}
.hero .hero-slide .hero-info h2 {
    font-size: 1.5714rem;
    letter-spacing: .5151px;
    padding: unset;
}
.hero .hero-slide .hero-info p {
    margin-top: 6px;
    font-size: 1rem;
    letter-spacing: 0.4945456px;
    padding: unset;
}
.hero .hero-slide .hero-info a.btn,
.hero .hero-slide .hero-info a.btn--ghost {
    background-color: unset;
    text-decoration: underline;
    width: auto;
    height: auto;
    border: unset;
}
.hero .hero-slide .hero-info .btn:after,
.hero .hero-slide .hero-info .btn--ghost:after{
    width: unset;
    height: unset;
}
}
@media screen and (max-width: 370px) {
  .hero .hero-right.hero-slide .hero-info, .hero .hero-left.hero-slide .hero-info {
    padding: 0 20px;
  }
}

</style>
<script>
if(window.addEventListener) {
  window.addEventListener('resize', function() {
var ventana = window.innerWidth;
  if(ventana >= 600) {
    $(".hero .hero-slide .hero-img-anchor img").attr("src","//r17-adobe-dispatch.bn-web.com/content/dam/ccr/bnstores/kids/hero/BG-BobbyFlay.jpg")
  } else {
    $(".hero .hero-slide .hero-img-anchor img").attr("src","//r17-adobe-dispatch.bn-web.com/content/dam/ccr/bnstores/kids/hero/BG-BobbyFlay2-mobile.jpg")
  }
}, true);
}

</script>
