#cq-html-renderer, .cq-html-renderer {
  height: 0;
  width: 0;
  visibility: hidden;
  opacity: 0;
  display: flex;
}

body {
  overflow-x: hidden;
}

.landingPage .main-content [id^='book-carousel'] li {
  width: 140px !important;
  margin-right: 10px !important;
}

.main-content {
  /* are we adjusting the event templt headers above"? */
  /* expand BNReads pod on the One Column Marketing page */
}
.main-content section#hotBooksWithDesc .caroufredsel_wrapper,
.main-content section#hotBooks .caroufredsel_wrapper {
  width: 100% !important;
}
.main-content section#hotBooksWithDesc,
.main-content section#hotBooks {
  width: 100%;
  border-top: 1px solid #e7e6e4;
  box-shadow: none;
  margin-top: 42px;
  padding: 40px 0 0;
}
.main-content section h2.module-hdr,
.main-content section h2.event-hdr,
.main-content section#hotBooksWithDesc h2,
.main-content section#hotBooks h2 {
  font-size: 32px;
  line-height: 1;
  text-align: center;
  margin-bottom: 35px;
}
.main-content section h2.module-hdr {
  font-size: 30px;
  margin-bottom: 40px;
}
.main-content section#hotBooks div.prev-item,
.main-content div.carousel-prev,
.main-content div.featured-prev-item,
.main-content .bx-prev {
  background-image: url("http://dispatch.barnesandnoble.com/content/dam/ccr/h/events/b-fest/btn_prev_carousel_green.png");
}
.main-content section#hotBooks div.next-item,
.main-content div.carousel-next,
.main-content div.featured-next-item,
.main-content .bx-next {
  background-image: url("http://dispatch.barnesandnoble.com/content/dam/ccr/h/events/b-fest/btn_next_carousel_green.png");
}
.main-content section#hotBooks div.prev-item,
.main-content section#hotBooksWithDesc div.carousel-prev,
.main-content section#hotBooksWithDesc div.featured-prev-item,
.main-content section#hotBooksWithDesc .bx-prev {
  left: -8px;
}
.main-content section#hotBooks div.next-item,
.main-content section#hotBooksWithDesc div.carousel-next,
.main-content section#hotBooksWithDesc div.featured-next-item,
.main-content section#hotBooksWithDesc .bx-next {
  right: -8px;
}
.main-content .landingPage div.see-all {
  padding-left: 0;
  padding-right: 0;
  top: 40px;
}
.main-content section#hotBooksWithDesc .btn,
.main-content section#hotBooks .btn {
  background: none;
  border: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.main-content .btn, .main-content [class*="btn"] {
  padding: 9px 0 8px;
}
.main-content div.see-all a:hover {
  text-decoration: underline;
}
.main-content [id^="book-carousel"] li a.carousel-image-link img {
  max-height: 180px;
}
.main-content [id^="book-carousel"] li img {
  max-width: 130px;
}
.main-content .full-shadow {
  border-radius: 0;
  padding: 0;
}
.main-content .full-shadow:hover {
  border: none;
  padding: 0;
}
.main-content [id^="book-carousel"] li a.carousel-image-link {
  height: 180px;
  width: 130px;
}
.main-content .landingPage [id^="book-carousel"] {
  padding: 0;
}
.main-content .cq-module-shadow-top {
  border-top-color: #e7e6e4;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 40px 0 40px;
}
.main-content .triple .bnreads-pod {
  max-width: 29%;
  width: 29%;
  margin-right: 60px;
}
.main-content .triple .bnreads-pod:last-of-type {
  margin-right: 0;
}
.main-content .double .bnreads-pod:last-of-type::before {
  background: none;
}
.main-content .double .bnreads-pod {
  width: 48%;
}
.main-content .bnreads h1 {
  text-align: center;
  font-size: 32px;
  margin: 10px 0 35px;
}
.main-content .button-module-more {
  background: none;
  -pie-background-image: none;
  border: 0 none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0;
  padding: 9px 0;
  text-align: right;
  text-shadow: none;
  top: 45px;
}
.main-content .button-module-more a {
  text-decoration: none;
  color: #3169a8;
}
.main-content .button-module-more a:hover {
  text-decoration: underline;
  color: #3169a8;
}
.main-content .button-module-more:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.main-content .bnreads-pod .aLink {
  font-weight: normal;
}
.main-content .bnreads-pod .element-shadow {
  border: 0 none;
  border-radius: 0;
}

.html {
  position: relative;
  clear: left;
  /*
  $font-size: 16px;
  $line-height: $font-size * 1.6;
  $h1-size: $font-size * 2; // all other fonts are related to $font-size.
  
  $control-height: 40px; // applied to any control that needs the same height.
  $radius: 5px;
  
  // ie: height: $control-height; // instead of height: 40px;
  
  */
  /* Buttons */
  /* mimicModule See More buttons */
  /* Reskin 2016 buttons */
  /************************************************/
  /*==================================================
   * shadow 1
   * ===============================================*/
  /*==================================================
   * shadow 2
   * ===============================================*/
  /*==================================================
   * shadow 3
   * ===============================================*/
  /*==================================================
   * shadow 4
   * ===============================================*/
  /*==================================================
   * shadow 5
   * ===============================================*/
  /*==================================================
   * shadow 6
   * ===============================================*/
  /*==================================================
   * shadow 7
   * ===============================================*/
  /*==================================================
   * shadow 8
   * ===============================================*/
  /* Global */
  /*Font sizes initiated on coupon page*/
  /* My Favorite Teacher */
  /* end My Favorite Teacher  */
  /*Gift Cards*/
  /*Browse page links*/
  /*textbooks landing carryover  http://img1.imagesbn.com/css/bn-cq/cq-global.css?v=08062015a  */
  /*sub-textbooks mobile*/
  /*start textbooks subppages*/
  /* end textbooks subppages */
  /*  Put Me In The Story */
  /*  // END Put Me In The Story */
  /* persona  [ personalities mothersday fathersday ] */
  /* store title design change  added to rich text editor */
  /* // end persona  */
  /*Coupon & Deals page*/
  /* green coupon section */
  /* coupon promo text message */
  /* Featured Promos */
  /* coupon promotion items*/
  /*End Coupon & Deals*/
  /* Desktop */
  /*
  
  .event-banner a {  
      display: inline-block;
      color: #000000;
      line-height:0;
  }
  .event-banner a:hover {
      color: #000000;
      text-decoration: none;
  }
  .event-banner p {
      display: block;
      font-family: Milo;
      font-size: 26px;
      line-height: 1;  
      padding: 0;
      position:absolute;
      top: 40%; 
      text-align: center; 
      width: 100%;
  }
  
  .event-banner img {
    position: relative;
    top:0;
    left: 0; 
    z-index: -1; 
    border-top: 1px solid #e7e6e4;
    border-bottom: 1px solid #e7e6e4; 
    width:100%; 
    min-height:65px;
  
  }
  .event-banner img {
    position: relative;
    top:0;
    left: 0; 
    z-index: -1; 
    border-top: 1px solid #e7e6e4;
    border-bottom: 1px solid #e7e6e4; 
    width:100%; 
    min-height:65px;
  
  }
  */
  /* non flex support */
  /*.calendar-bottom-content.current {
    border: 4px solid #e7e6e4;
    padding: 9px 0 0;
  }
  
  .calendar-bottom-content:hover {
    border: 4px solid #e7e6e4;
    padding: 9px 0 0;
  }*/
}
.html * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.html h1, .html h2, .html h3, .html h4, .html h5, .html h6, .html p, .html ul, .html li,
.html fieldset, .html form, .html label, .html legend,
.html table, .html caption, .html tbody, .html tfoot, .html thead, .html tr, .html th, .html td,
.html article, .html aside, .html canvas, .html details, .html embed,
.html figure, .html figcaption, .html footer, .html header, .html menu, .html nav, .html section, .html audio, .html video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
.html body {
  line-height: 1;
}
.html ol, .html ul {
  list-style: none;
}
.html blockquote, .html q {
  quotes: none;
}
.html blockquote:before, .html blockquote:after,
.html q:before, .html q:after {
  content: '';
  content: none;
}
.html table {
  border-collapse: collapse;
  border-spacing: 0;
}
.html .button-module-more {
  background: #f5f4f0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #f5f4f0), color-stop(100%, #dcd8cd));
  background: -webkit-linear-gradient(top, #f5f4f0 30%, #dcd8cd 100%);
  background: linear-gradient(to bottom, #f5f4f0 30%, #dcd8cd 100%);
  -pie-background-image: linear-gradient(to bottom, #f5f4f0 30%, #dcd8cd 100%);
  border: 1px solid #b5b2ae;
  /*box-shadow:0 2px 4px -1px #ccc!important;*/
  -webkit-box-shadow: -1px 3px 3px -1px #ccc;
  -moz-box-shadow: -1px 3px 3px -1px #ccc;
  box-shadow: -1px 3px 3px -1px #ccc;
  color: #3169a8;
  text-decoration: none;
  text-shadow: 1px 1px 1px white;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  font-family: PTSans,Arial;
  font-size: 14px;
  font-weight: 400;
  padding: 9px 15px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.27);
  float: none;
  margin: 0;
  position: absolute;
  right: 0;
  top: 20px;
}
.html .button-module-more a {
  text-decoration: none;
  color: #3169a8;
}
.html .button-module-more:active {
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.33) inset;
  -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.33) inset;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.33) inset;
}
.html .cq-bttn, .html [class*=cq-bttn] {
  display: inline-block;
  border-radius: 5px;
  color: #FFF;
  font-family: PTSans, Arial;
  font-size: 14px;
  font-weight: 400;
  padding: 9px 30px 8px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.27);
}
.html [class*=cq-bttn]:disabled {
  opacity: 0.5;
}
.html .cq-bttn {
  background: #f5f4f0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #f5f4f0), color-stop(100%, #dcd8cd));
  background: -webkit-linear-gradient(top, #f5f4f0 30%, #dcd8cd 100%);
  background: linear-gradient(to bottom, #f5f4f0 30%, #dcd8cd 100%);
  -pie-background-image: linear-gradient(to bottom, #f5f4f0 30%, #dcd8cd 100%);
  border: 1px solid #b5b2ae;
  -webkit-box-shadow: -1px 3px 3px -1px #ccc;
  box-shadow: 0 2px 4px -1px #ccc;
  color: #2c67aa;
  font-weight: bold;
  text-shadow: 1px 1px 1px white;
}
.html .cq-bttn:hover {
  text-decoration: none;
}
.html .ie9 .cq-bttn,
.html .ie9 [class*=cq-bttn] {
  filter: none;
}
.html [class*=cq-bttn]:focus,
.html form:focus,
.html input.cq-bttn:active {
  outline: 0;
}
.html [class*=cq-bttn]:active,
.html input.cq-bttn:active {
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.33) inset;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.33) inset;
}
.html .cq-bttn-submit {
  background-color: #3674BA;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-image: none;
  font-family: PTSans, Arial;
  font-weight: 700;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  -pie-background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  border: 1px solid #3674BA;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 0 8px rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 0 8px rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  color: #fff;
}
.html .cq-bttn-submit:hover {
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}
.html .cq-bttn-submit:active,
.html input.cq-bttn-submit:active {
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.33) inset;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.33) inset;
}
.html .cq-bttn-shop {
  background-color: #eb6e34;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  -pie-background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  border: 1px solid #c15b24;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 0 8px rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 0 8px rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
}
.html .cq-bttn-shop:active,
.html input.cq-bttn-shop:active {
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.33) inset;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.33) inset;
}
.html .cq-bttn-action {
  background-color: #4b8b57;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  -pie-background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  border: 1px solid #3d7141;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 0 8px rgba(0, 0, 0, 0.1), inset 0 2px 0 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 0 8px rgba(0, 0, 0, 0.1), inset 0 2px 0 0 rgba(255, 255, 255, 0.3);
  color: #fff;
}
.html .cq-bttn-action:active,
.html input.cq-bttn-action:active {
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.33) inset;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.33) inset;
}
.html .bttn {
  display: inline-block;
  font-family: GillSans,Arial,sans-serif;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 300;
  margin: 0;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  background-color: #346250;
  border: 1px solid #3d7141;
  color: #fff;
}
.html .bttn:focus, .html .bttn:hover {
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #346250;
  color: #346250;
  outline: 0 none;
}
.html .shadowCast {
  position: relative;
  height: 282px;
  width: 192px;
  display: inline-block;
  background: #f0f0f0;
}
.html .shadowCast:before {
  content: "";
  position: absolute;
  -webkit-border-radius: 0 11% 17% 0;
  -moz-border-radius: 0 11% 17% 0;
  -ms-border-radius: 0 11% 17% 0;
  -o-border-radius: 0 11% 17% 0;
  border-radius: 0 11% 17% 0;
  -webkit-transform: skewY(7deg) skewX(5deg);
  -moz-transform: skewY(7deg) skewX(5deg);
  -ms-transform: skewY(7deg) skewX(5deg);
  -o-transform: skewY(7deg) skewX(5deg);
  transform: skewY(7deg) skewX(5deg);
  z-index: -1;
  top: 10px;
  right: 11px;
  bottom: 10px;
  left: 8px;
  -webkit-box-shadow: 0px 20px 23px -10px rgba(0, 0, 0, 0.18), 23px -4px 33px -8px rgba(0, 0, 0, 0.15), 11px 10px 30px 0px rgba(0, 0, 0, 0.08), 20px 20px 33px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 20px 23px -10px rgba(0, 0, 0, 0.18), 23px -4px 33px -8px rgba(0, 0, 0, 0.15), 11px 10px 30px 0px rgba(0, 0, 0, 0.08), 20px 20px 33px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 20px 23px -10px rgba(0, 0, 0, 0.18), 23px -4px 33px -8px rgba(0, 0, 0, 0.15), 11px 10px 30px 0px rgba(0, 0, 0, 0.08), 20px 20px 33px 3px rgba(0, 0, 0, 0.2);
}
.html .shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.html .one-edge-shadow {
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
.html .dev-box h3 {
  text-align: center;
  position: relative;
  top: 50px;
}
.html .dev-box {
  width: 70%;
  height: 200px;
  background: #FFF;
  margin: 40px auto;
  border: 1px #ccc dotted;
}
.html .shadow1 {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
.html .shadow2 {
  position: relative;
}
.html .shadow2:before, .html .shadow2:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 13px;
  left: 45px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 12px #777;
  -moz-box-shadow: 0 15px 12px #777;
  box-shadow: 0 15px 12px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.html .shadow2:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 45px;
  left: auto;
}
.html .shadow3 {
  position: relative;
}
.html .shadow3:before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 13px;
  left: 15px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px 4px #777;
  -moz-box-shadow: 0 15px 10px 4px #777;
  box-shadow: 0 15px 10px 4px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.html .shadow4 {
  position: relative;
}
.html .shadow4:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 13px;
  right: 15px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px 4px #777;
  -moz-box-shadow: 0 15px 10px 4px #777;
  box-shadow: 0 15px 10px 4px #777;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}
.html .shadow5 {
  position: relative;
}
.html .shadow5:before, .html .shadow5:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.html .shadow5:after {
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}
.html .shadow6 {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.html .shadow6:before, .html .shadow6:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}
.html .shadow6:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}
.html .shadow7 {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.html .shadow7:before, .html .shadow7:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}
.html .shadow7:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}
.html .shadow8 {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.html .shadow8:before, .html .shadow8:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}
.html .shadow8:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}
.html * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.html .cq-module-shadow-top {
  border-top: 1px solid #d1c2a8;
  -webkit-box-shadow: 0 21px 16px -23px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0 21px 16px -23px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 21px 16px -23px rgba(0, 0, 0, 0.25) inset;
  height: auto;
  padding: 20px 0;
  position: relative;
  z-index: 2;
  overflow: hidden;
  clear: both;
}
.html .module-shadow, .html .element-shadow {
  border: 2px solid #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 0 #e4e4e4, -1px -1px 0 #e4e4e4, 0 0 7px #dfdfdf;
  -moz-box-shadow: 1px 1px 0 #e4e4e4, -1px -1px 0 #e4e4e4, 0 0 7px #dfdfdf;
  box-shadow: 1px 1px 0 #e4e4e4, -1px -1px 0 #e4e4e4, 0 0 7px #dfdfdf;
}
.html .element-shadow {
  cursor: pointer;
}
.html .element-shadow:hover {
  -webkit-box-shadow: 0 0 7px 1px rgba(49, 105, 168, 0.5);
  -moz-box-shadow: 0 0 7px 1px rgba(49, 105, 168, 0.5);
  box-shadow: 0 0 7px 1px rgba(49, 105, 168, 0.5);
}
.html .hideIt {
  display: none;
}
.html .strike {
  text-decoration: line-through;
}
.html .fLeft {
  float: left;
}
.html .fRight {
  float: right;
}
.html .centered {
  text-align: center;
}
.html .underline {
  text-decoration: underline;
}
.html .milo180 {
  font-family: Milo;
  font-size: 180px;
  line-height: 0.8;
  letter-spacing: -16px;
}
.html .milo99 {
  font-family: Milo;
  font-size: 99px;
  line-height: 0.8;
}
.html .milo66 {
  font-family: Milo;
  font-size: 66px;
  line-height: 0.8;
}
.html .milo61 {
  font-family: Milo;
  font-size: 61px;
  line-height: 0.8;
}
.html .milo40 {
  font-family: Milo;
  font-size: 40px;
  line-height: 0.8;
}
.html .milo40white {
  font-family: Milo;
  font-size: 40px;
  line-height: 1.2;
  color: #fff;
  text-shadow: 0 -1px 1px #666;
}
.html .milo38 {
  font-family: Milo;
  font-size: 38px;
  line-height: 1.2;
}
.html .milo33 {
  font-family: Milo;
  font-size: 33px;
  line-height: 1.2;
}
.html .milo24 {
  font-family: Milo;
  font-size: 24px;
  line-height: 1.2;
}
.html .milo24white {
  font-family: Milo;
  font-size: 24px;
  line-height: 1.2;
  color: #fff;
  text-shadow: 0 -1px 1px #666;
}
.html .milo22white {
  font-family: Milo;
  font-size: 22px;
  line-height: 1.2;
  color: #fff;
  text-shadow: 0 -1px 1px #666;
}
.html #myFavTeacher {
  width: 100%;
  margin-top: 25px;
}
.html #myFavTeacher .mft-hero {
  background: url(http://dispatch.barnesandnoble.com/content/dam/ccr/h/my-favorite-teacher/MyFavTeacherContest_hero.jpg) center center no-repeat;
  height: 330px;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.html #myFavTeacher p {
  color: #666666;
  margin: 25px 0;
}
.html #myFavTeacher .myFavTeacherAwards p {
  margin: 15px 0 20px;
}
.html #myFavTeacher span {
  color: green;
  font-weight: bold;
  display: block;
  font-size: 18px;
  margin-bottom: 8px;
}
.html #myFavTeacher .cq-bttn {
  margin: 15px 15px;
}
.html .myFavTeacher-buttons {
  display: block;
}
.html .myFavTeacherAwards .fLeft {
  width: 49%;
}
.html .myFavTeacherAwards .fRight {
  width: 49%;
}
.html .myFavTeacherAwards img {
  max-width: 100%;
}
.html .gc-section {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.3;
  font-family: milo;
  font-weight: normal;
}
.html .gc-item {
  display: inline-block;
  vertical-align: top;
  max-width: 183px;
  padding: 8px 8px 20px 8px;
}
.html .gc-item img {
  max-width: 100%;
  max-height: 105px;
}
.html .gc-item figcaption {
  line-height: 1;
  padding: 5px;
  font-family: milo;
  font-weight: 400;
}
.html .gc-item a {
  color: #000;
  font-family: Milo;
  font-size: 15px;
  display: block;
  padding: 3px;
}
.html .gc-item a:hover {
  color: #3169a8;
  text-decoration: none;
}
.html .gc-item a:focus {
  outline: 0 none;
  border: 1px #aaa dotted;
  padding: 2px;
}
.html .gc-item a:focus .element-shadow {
  -webkit-box-shadow: 0 0 7px 1px rgba(49, 105, 168, 0.5);
  -moz-box-shadow: 0 0 7px 1px rgba(49, 105, 168, 0.5);
  box-shadow: 0 0 7px 1px rgba(49, 105, 168, 0.5);
}
.html .gift-card-list h3 {
  margin: 20px 0 20px 0;
  padding: 20px 0 0 0;
  font-family: Milo;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}
.html .gift-card-list h3:first-of-type {
  margin-top: 0;
}
.html .links-container.browse {
  padding-top: 36px;
}
.html .links-container.browse:first-of-type {
  padding-top: 16px;
}
.html .links-container.browse ul {
  margin-bottom: 15px;
}
.html .links-container.textbooks > ul > li {
  min-width: 125px;
  padding-left: 20px;
  width: 20%;
}
.html .links-container ul li {
  display: inline-block;
  line-height: 2;
  vertical-align: top;
  width: 238px;
}
.html .break-desktop {
  display: block;
}
.html .cms .heroImage {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  border: 2px #fff solid;
  font-size: 0;
  line-height: 0;
  max-width: 964px;
  overflow: hidden;
  margin: 0 auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.html .cms section.module {
  background-image: -moz-linear-gradient(center bottom, #fff 25%, #fbfbf9 100%);
  border-radius: 4px;
  border-top: 2px solid #fff;
  box-shadow: 0 0 0 1px #d5d2d2;
  font-size: 22px;
  margin: 48px 0 36px 1px;
  position: relative;
}
.html .cms .textbook-options {
  overflow: hidden;
  padding: 0;
  border-top: none;
}
.html .cms .textbook-options figure {
  width: 25%;
  padding: 18px 0;
  text-align: center;
  float: left;
  border-left: 1px #ccc solid;
  border-top: 2px solid #fff;
}
.html .cms .textbook-options a:first-child figure {
  border-left: none;
}
.html .cms .textbook-options figcaption {
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  font-weight: normal;
}
.html .cms .textbook-options a {
  display: block;
  margin-top: 0;
}
.html .cms .textbook-options a .text-link {
  font-size: 16px;
}
.html .cms .textbook-options h3 {
  margin: 0;
  font-size: 20px;
}
.html section.return-msg h1 {
  line-height: 1.25;
  margin: 0.67em 0;
}
.html section.return-msg p {
  line-height: 1.25;
  margin: 0.67em 0;
}
.html section.return-msg {
  text-align: left;
  position: relative;
  z-index: 0;
  padding: 0px 25px 10px;
}
.html section.return-msg img {
  position: absolute;
  right: 30px;
  bottom: 0;
  z-index: 1;
}
.html section.textbooks {
  border-bottom: none;
}
.html .links-container.textbooks > ul > li {
  padding-left: 20px;
  width: 20%;
  min-width: 125px;
}
.html .isbn-link-modal {
  margin-top: 12px;
}
.html .BNspotlight .spotlight img {
  max-width: 100%;
}
.html .mobile #mainContent {
  position: relative;
  width: auto;
  max-width: 740px;
}
.html .mobile .BNspotlight .block .spotlight {
  float: none;
  padding: 0 0 20px 0;
  width: auto;
}
.html .mobile .BNspotlight .block .details {
  width: auto;
}
.html .mobile .BNspotlight .block .spotlight {
  float: none;
  padding: 0 0 20px 0;
  width: auto;
}
.html .mobile .BNspotlight .block .spotlight img {
  margin: 0 4px 4px 0;
}
.html #cq-txtBookSearch {
  margin: 40px auto 40px;
  position: relative;
  width: 95%;
  height: 18px;
}
.html #cq-txtBookSearch.txtbkhome {
  width: 65%;
  margin: -20px auto 0px;
}
.html #cq-txtBookSearch input[type="text"] {
  background: #fff;
  background-repeat: no-repeat;
  background-position: 97%;
  border: 1px solid #B4B2AC;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 4px 12px -1px rgba(0, 0, 0, 0.2), 0 0 0 10px #f4f3ef, 0 0 0 11px #b9b6b2, 0 0 15px 13px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 4px 12px -1px rgba(0, 0, 0, 0.2), 0 0 0 10px #f4f3ef, 0 0 0 11px #b9b6b2, 0 0 15px 13px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 4px 12px -1px rgba(0, 0, 0, 0.2), 0 0 0 10px #f4f3ef, 0 0 0 11px #b9b6b2, 0 0 15px 13px rgba(0, 0, 0, 0.2);
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  height: 36px;
  line-height: 16px;
  margin: 0;
  padding: 0 20px;
  vertical-align: top;
  position: absolute;
  left: 0px;
  width: 100%;
  font-weight: bold;
  color: #000;
}
.html #cq-txtBookSearch input[type="text"]:focus {
  outline: none;
  border-color: #3069AE;
}
.html #cq-txtBookSearch input[type="submit"] {
  background-color: transparent;
  background-image: url("http://css.css-bn.com/static/release/img/search_icon.png");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  height: 36px;
  position: absolute;
  top: 0;
  right: 10px;
  width: 30px;
}
.html #cq-txtBookSearch input::-webkit-input-placeholder {
  color: #666;
}
.html #cq-txtBookSearch input:-moz-placeholder {
  color: #666;
}
.html #cq-txtBookSearch input::-moz-placeholder {
  color: #666;
}
.html #cq-txtBookSearch input:-ms-input-placeholder {
  color: #666;
}
.html .txtbk-form-wrapper {
  height: 95px;
}
.html .txtbk-form-wrapper.txtbkhome {
  height: 30px;
}
.html .txtbk-module {
  border-bottom: 1px #ccc solid;
  margin-bottom: 35px;
}
.html .txtbk-module:last-of-type {
  border-bottom: none;
}
.html .txtbk-hdr {
  color: #009000;
  font-size: 20px;
  margin: 0 0 15px;
}
.html .txtbk-column-main {
  width: 68%;
  float: left;
}
.html .txtbk-column-main p {
  font-size: 14px;
  line-height: 1.75;
  margin-bottom: 20px;
}
.html .txtbk-column-right {
  width: 205px;
  float: right;
}
.html .txtbk-column-right img {
  margin-bottom: 20px;
  max-width: 100%;
}
.html .txtbk-bubble-arrow, .html .bubble-arrow {
  position: relative;
}
.html .txtbk-bubble-arrow:before, .html .bubble-arrow:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: -49px;
  margin-left: -25px;
  border: 25px solid;
  border-color: transparent transparent #b4b2ac transparent;
}
.html .txtbk-bubble-arrow:after, .html .bubble-arrow:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: -43px;
  margin-left: -20px;
  border: 20px solid;
  border-color: transparent transparent #f4f3ef transparent;
}
.html .txtbk-isbn-link-modal {
  float: right;
  margin-right: 0px;
  margin-top: 12px;
}
.html .txtbk-isbn-link-modal.txtbkhome {
  margin-right: 35px;
}
.html .pmis {
  max-width: 965px;
  margin: 0 auto;
}
.html .pmis a {
  color: #7bb4e0;
  text-decoration: underline;
  font-size: inherit;
}
.html .pmis-hero-features {
  height: 553px;
  width: 385px;
  padding: 25px 10px 20px;
  background-color: #f2f2f2;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
}
.html .pmis-hero-features h3 {
  font-family: Quicksand-Bold, PTSans, Arial;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  color: #0d4563;
  text-transform: uppercase;
  margin: 0 0 12px 0;
}
.html .pmis-hero-feature {
  width: 182px;
  float: left;
  font-family: Raleway-Bold, PTSans,Arial;
  font-size: 14px;
  line-height: 1.4;
  color: #0d4563;
  text-transform: none;
  padding: 0 10px;
}
.html .pmis-hero-feature figcaption {
  text-align: center;
  font-family: Raleway-Bold, PTSans,Arial;
  padding: 3px 0 15px 0;
}
.html .pmis-hero-feature img {
  max-width: 100%;
}
.html .pmis-hero {
  position: relative;
}
.html .pmis-hero > figure {
  line-height: 0;
  height: 553px;
}
.html .pmis-hero-img {
  height: 553px;
  max-width: 100%;
}
.html .pmis-hero-copy {
  text-align: center;
  padding: 25px 25px 44px;
  font-family: Raleway, PTSans,Arial;
  color: #0d4563;
  font-size: 20px;
  line-height: 1.5;
}
.html .pmis-hero-copy a {
  font: inherit;
  color: #7bb4e0;
}
.html .pmis-sample {
  margin-bottom: 56px;
}
.html .pmis-sample-product {
  position: relative;
  font-family: Raleway, PTSans,Arial;
  color: #0d4563;
  width: 459px;
  padding: 0 33px;
  float: left;
  font-size: 17px;
  text-align: center;
}
.html .pmis-sample-product img {
  max-width: 100%;
}
.html .pmis-sample-product figcaption .italic {
  font-family: Raleway, PTSans,Arial;
  color: #0d4563;
  font-size: 17px;
  font-style: italic;
  font-weight: normal;
}
.html figcaption.mob {
  display: none;
  font-weight: normal;
}
.html figcaption.desk {
  font-weight: normal;
}
.html .pmis-sample-carousel {
  float: right;
  width: 456px;
  margin-right: 48px;
  text-align: center;
  font-size: 17px;
  line-height: 1.5;
}
.html .pmis-samplet {
  height: 257px;
  overflow: hidden;
}
.html .pmis-samplet ul li {
  float: left;
}
.html .pmis-samplet-next-item, .html .pmis-samplet-prev-item {
  background: transparent url("http://dispatch.barnesandnoble.com/content/dam/ccr/h/promotional/put-me-in-the-story/pmis-sprite_re.png") no-repeat;
  bottom: 0;
  cursor: pointer;
  height: 25px;
  position: absolute;
  width: 20px;
  display: none;
}
.html .pmis-samplet-prev-item {
  background-position: -65px 0;
  left: 37%;
}
.html .pmis-samplet-prev-item.disabled {
  background-position: 1px 0;
}
.html .pmis-samplet-next-item {
  background-position: -96px 0;
  right: 37%;
}
.html .pmis-samplet-next-item.disabled {
  background-position: -29px 0;
}
.html #pmis-samplet-status {
  height: 26px;
  font-family: Raleway, PTSans,Arial;
  color: #0d4563;
  font-size: 17px;
}
.html .pmis-steps {
  background-color: #d6eaa1;
  /*  -moz-box-shadow:  -2px 2px 1px 0 rgba(157, 176, 191, 0.55);
    -webkit-box-shadow: -2px 2px 1px 0 rgba(157, 176, 191, 0.55);
      box-shadow: -2px 2px 1px 0 rgba(157, 176, 191, 0.55);*/
  margin: 0 0 20px;
  padding: 35px 0 30px 0;
  position: relative;
  font-size: 20px;
  line-height: 1.5;
}
.html h3.pmis-steps-hdr {
  text-align: center;
  font-family: Quicksand-Bold, PTSans,Arial;
  color: #0d4563;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  margin: 23px 0 28px;
}
.html .pmis-steps::before {
  background: transparent url(http://dispatch.barnesandnoble.com/content/dam/ccr/h/promotional/put-me-in-the-story/pmis-dash-h.png) repeat-x scroll 0 0;
  top: 25px;
  content: "";
  display: block;
  height: 6px;
  left: 0;
  position: absolute;
  width: 100%;
}
.html .pmis-steps::after {
  background: transparent url("http://dispatch.barnesandnoble.com/content/dam/ccr/h/promotional/put-me-in-the-story/pmis-dash-h.png") repeat-x scroll 0 0;
  content: "";
  display: block;
  height: 6px;
  left: 0;
  position: absolute;
  bottom: 25px;
  width: 100%;
}
.html .pmis-cta {
  margin-bottom: 25px;
  padding: 0 30px;
  font-family: Raleway, PTSans,Arial;
  color: #0d4563;
  font-size: 20px;
  line-height: 1.5;
}
.html .pmis-steps-list {
  width: 33%;
  margin: 0 0 0 50px;
  padding: 0;
}
.html li.pmisOne, .html li.pmisTwo, .html li.pmisThree {
  position: relative;
  height: 140px;
  padding: 30px 0 0 115px;
  margin-bottom: 8px;
  background: transparent url("http://dispatch.barnesandnoble.com/content/dam/ccr/h/promotional/put-me-in-the-story/pmis-sprite_re.png") no-repeat;
  font-family: Raleway, PTSans,Arial;
  color: #0d4563;
  font-size: 20px;
  line-height: 1.2;
}
.html li.pmisOne {
  background-position: 0 -25px;
}
.html li.pmisTwo {
  background-position: 0 -175px;
}
.html li.pmisThree {
  background-position: 0 -325px;
}
.html .pmis-child {
  float: right;
  margin-right: 32px;
  clear: both;
}
.html .pmis a.pmis-button, .html .pmis .pmis-button {
  border: 0 none;
  color: #ffffff;
  display: inline-block;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: 7px;
  background-color: #f1ac68;
  font-family: Quicksand, PTSans,Arial;
  font-size: 18px;
  font-weight: 700;
  height: 44px;
  letter-spacing: 1px;
  padding: 12px 20px;
  text-shadow: 2px 2px 2px rgba(250, 99, 99, 0.97), 2px 2px 1px rgba(50, 77, 57, 0.83);
}
.html .pmis-cta a.pmis-button {
  margin: 30px 0 16px 0;
}
.html .pmis-footnote {
  font-family: PTSans,Arial,Helvetica,sans-serif;
  color: #0d4563;
  font-size: 14px;
  line-height: 1.4;
}
.html #categoryHeaderContainer h1.persona-main-hdr {
  font-size: 66px;
  color: #000;
  line-height: 1;
  margin-top: 16px;
}
.html section#categoryHeaderContainer h2.persona-main-hdr {
  color: #000;
  font-family: PTSans,Arial,Helvetica,sans-serif;
  font-size: 30.5px;
  line-height: 1;
  text-align: center;
  display: block;
  text-transform: none;
  margin: 0 0 32px 0;
}
.html h2.persona-main-hdr:before, .html h2.persona-main-hdr:after {
  content: "";
  border-top: 1px #919190 solid;
  width: 72px;
  height: 1px;
  padding: 5px 0;
  display: inline-block;
}
.html h2.persona-main-hdr:before {
  margin: 2px 10px 0 auto;
}
.html h2.persona-main-hdr:after {
  margin: 2px auto 0 10px;
}
.html .persona-header {
  position: relative;
}
.html .persona-header h2 {
  margin: 8px 125px 8px 0;
  font-family: milo;
  font-size: 36px;
  line-height: 1;
  font-weight: normal;
  border: 0px red dotted;
}
.html .persona-header-cta {
  display: block;
  border: 1px #000 solid;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 8px 16px;
  margin-bottom: 9px;
  font-size: 14px;
  color: #000;
}
.html .persona {
  margin-bottom: 43px;
  min-height: 134px;
}
.html .persona:last-of-type {
  margin-bottom: 20px;
}
.html .persona figure {
  font-size: 0;
  line-height: 0;
}
.html .persona img {
  width: 100%;
}
.html .persona a {
  display: block;
}
.html .persona a:hover {
  text-decoration: none;
}
.html .persona a:focus {
  outline: 1px dashed #000;
}
.html .persona-header-gcbanner {
  position: absolute;
  right: 0;
  text-align: center;
  width: 318px;
}
.html .persona-header-gcbanner h2 {
  margin: 22px 0 4px 0;
  font-size: 26.29px;
  line-height: 1;
  font-weight: normal;
}
.html .persona-header-gc-copy {
  font-size: 18.78px;
  color: #000;
}
.html .persona-header-gc-cta {
  font-size: 14.08px;
  text-transform: uppercase;
  color: #000;
  display: block;
}
.html .persona-header-gc-cta:before {
  content: "";
  display: block;
  border-top: 1px #000 solid;
  width: 25px;
  height: 1px;
  margin: 11px auto;
}
.html .persona-gcbanner {
  height: 136px;
  max-width: 964px;
  margin: 0 auto;
  position: relative;
}
.html .persona-gcbanner.mom {
  background: url(http://dispatch.barnesandnoble.com/content/dam/ccr/h/occasion/2016/mothersday/MothersDay_Pod6.jpg) no-repeat top right;
}
.html [class*=coupn-] {
  transition: all 0.5s ease;
}
.html h1.coupn-h1 {
  position: relative;
  font-family: Milo;
  color: #6b6b6a;
  font-size: 66px;
  line-height: 1;
  font-weight: normal;
  text-align: center;
  margin-top: -24px;
  padding: 0 15px 20px 15px;
}
.html h2.coupn-h2 {
  color: #6b6b6a;
  display: block;
  font-family: PTSans,Arial,sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: normal;
  margin-bottom: 10px;
  text-align: center;
  text-transform: none;
}
.html .icon-stopwatch {
  display: inline-block;
  background: url(http://dispatch.barnesandnoble.com/content/dam/ccr/h/promotional/coupons-deals/stopwatch.png) no-repeat 0px 0px;
  height: 26px;
  padding-left: 25px;
  vertical-align: middle;
}
.html .rainbow-edge {
  background: url(http://dispatch.barnesandnoble.com/content/dam/ccr/h/promotional/coupons-deals/rainbow.jpg) repeat 0px 0px;
  height: 5px;
  width: 100%;
}
.html .coupn {
  text-align: center;
  color: #fff;
  background-color: #5AA666;
  overflow: hidden;
  margin: 27px 0;
  padding: 0 15px;
  position: relative;
}
.html .coupn-tag {
  width: 76px;
  height: 94px;
  margin-bottom: -20px;
  margin-right: -4px;
  margin-top: -8px;
  display: inline-block;
  background: url(http://dispatch.barnesandnoble.com/content/dam/ccr/h/promotional/coupons-deals/tag_03.png) no-repeat 0px 0px;
  position: relative;
}
.html .coupn-scissors {
  background: url(http://dispatch.barnesandnoble.com/content/dam/ccr/h/promotional/coupons-deals/scissors.png) no-repeat 0px 0px;
  height: 55px;
  width: 97%;
  position: absolute;
  top: -22px;
  z-index: 1;
}
.html .coupn-intro-text {
  display: inline-block;
  border-bottom: 1px #fff solid;
  padding-bottom: 5px;
  margin: 10px 0 32px 0;
  font-family: milo;
  font-size: 20px;
}
.html .coupn-headline {
  width: 49%;
  float: left;
}
.html .coupn-details {
  position: relative;
  width: 50%;
  min-height: 190px;
  float: right;
  border-left: 1px #fff solid;
  margin-bottom: 27px;
  padding-left: 20px;
  font-size: 16px;
}
.html .coupn-divider {
  position: absolute;
  top: 45%;
  left: 0;
  width: 0;
  border-top: 10px #5AA666 solid;
  border-right: 10px #5AA666 solid;
  border-bottom: 10px #5AA666 solid;
  border-left: 10px #fff solid;
}
.html .coupn-discount-amt {
  max-width: 300px;
  margin: 5px auto 25px;
}
.html .pct-off-stack {
  float: right;
  margin-right: 10px;
}
.html .coupn-discount-dollar-amt {
  max-width: 335px;
  margin: 5px auto 25px;
}
.html .coupn-dollar-sign:before {
  content: "$";
  font-family: Milo;
  font-size: 70%;
  position: relative;
  bottom: 15px;
}
.html .coupn-promo-msg {
  text-align: center;
}
.html .coupn-legal {
  font-size: 12px;
  color: #fff;
  margin-bottom: 10px;
}
.html .coupn-legal a {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}
.html .coupn-promo-msg {
  border: 1px #b2a58e solid;
  border-left: none;
  border-right: none;
  margin-bottom: 25px;
  font-family: Milo;
  font-size: 38px;
  line-height: 1.2;
  padding: 15px;
  color: #000;
  display: block;
}
.html .coupn-promo-msg:hover {
  text-decoration: none;
}
.html .coupn-promo-msg .standout {
  font-family: inherit;
  color: #D96630;
}
.html .coupn-promo-msg em {
  font-family: inherit;
  color: #6a6a69;
}
.html .coupn-pending {
  font-size: 16px;
  line-height: 1.4;
  font-weight: bold;
  color: #fff;
  padding: 40px 20px;
  text-shadow: 0 -1px 1px #666;
}
.html .coupn-pending-txt {
  font-size: 16px;
  line-height: 1.4;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 -1px 1px #666;
}
.html .coupn-featured {
  width: 48.9%;
  min-height: 350px;
  float: right;
  margin-left: 0;
  margin-bottom: 30px;
  text-align: center;
  background-color: #C7B299;
}
.html .coupn-featured:first-of-type {
  float: left;
}
.html .coupn-featured .cq-bttn-shop {
  position: relative;
  padding: 9px 50px;
}
.html .coupn-featured .cq-bttn-shop:before {
  border: 5px solid #E3D9CC;
  border-radius: 5px;
  margin: -6px;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.html .coupn-featured a {
  text-decoration: none;
}
.html .coupn-featured-hdr {
  font-family: milo;
  font-size: 24px;
  color: #564231;
  padding: 25px 0 17px;
}
.html .coupn-featured-title {
  font-family: milo;
  font-size: 40px;
  line-height: 1.2;
  color: #fff;
  text-shadow: 0 -1px 1px #666;
  padding-bottom: 10px;
}
.html .coupn-featured-detail {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 0;
  color: #000;
}
.html .coupn-featured-content {
  padding: 0 25px 22px;
  position: relative;
}
.html [data-dotd="isVisible"] {
  display: block;
}
.html [data-dotd="isHidden"] {
  display: none;
}
.html #dodd-expDate {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}
.html .coupn-promo {
  padding: 30px 0 20px 0;
  border-top: 1px #b2a58e solid;
}
.html .coupn-promo-avatar {
  height: 81px;
  width: 81px;
  border: 2px solid #478453;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.34);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.34);
  margin: 0 26px 25px 0;
  padding: .3%;
  float: left;
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  color: #478453;
  display: table;
  text-align: center;
}
.html .coupn-promo-avatar .table-cell {
  display: table-cell;
  vertical-align: middle;
  font-size: 22px;
  line-height: 1;
  font-weight: bold;
}
.html .coupn-promo-item {
  float: left;
  width: 61%;
}
.html .coupn-promo-hdr {
  font-size: 16px;
  color: #5E5D57;
  margin-bottom: 7px;
}
.html .coupn-promo-title {
  font-size: 26px;
  line-height: 1.2;
  font-weight: bold;
  color: #000;
  margin-bottom: 17px;
}
.html .coupn-promo-copy {
  margin: -10px 0 10px 0;
  color: #000;
}
.html .coupn-promo-legalize, .html .coupn-promo-legalize time {
  font-size: 14px;
  font-weight: bold;
  color: #7a7a78;
}
.html .coupn-promo-legalize a {
  font-size: 14px;
  font-weight: bold;
}
.html .coupn-promo-cta {
  float: right;
  padding-top: 10px;
}
.html .coupn-promo .cq-bttn {
  padding: 10px 45px;
}
.html .reveal-wrapper {
  position: relative;
  cursor: pointer;
}
.html .reveal-content {
  color: #000;
  font-weight: bold;
}
.html .reveal-top {
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background: #eb6e34;
  /* Fallback */
  background: -webkit-linear-gradient(240deg, transparent 1.5em, #eb6e34 0);
  background: linear-gradient(-150deg, transparent 1.5em, #eb6e34 0);
  /*  
  -webkit-box-shadow:0 0px 0px rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0) inset, 0 0 1px 2px rgba(255, 255, 255, 0.1) inset;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0) inset, 0 0 1px 2px rgba(255, 255, 255, 0.1) inset;
  */
  color: #fff;
  width: 100%;
  height: 49px;
  padding: 15px 40px 10px 0;
  overflow: hidden;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.html .active .reveal-top {
  display: none;
}
.html .reveal-coupon {
  width: 195px;
  height: 47px;
  margin: 20px auto;
  padding: 15px 10px 10px;
  white-space: nowrap;
  text-align: right;
  border: 1px solid #478453;
  background-color: #f5f4f0;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px -1px #666;
  -moz-box-shadow: 0 2px 4px -1px #666;
  box-shadow: 0 2px 4px -1px #666;
}
.html .reveal-wrapper:hover .reveal-top {
  width: 30%;
  color: transparent;
}
.html .reveal-coupon:hover, .html .html .reveal-coupon:hover {
  text-align: center;
  padding: 15px 0 10px 25px;
  border: none;
  background: #f5f4f0 url("http://dispatch.barnesandnoble.com/content/dam/ccr/h/promotional/coupons-deals/codebox_dottedline.png") no-repeat center right;
}
.html .reveal-coupon.active {
  text-align: center;
  padding: 15px 0 10px 0;
  border: none;
  background: #f5f4f0 url("http://dispatch.barnesandnoble.com/content/dam/ccr/h/promotional/coupons-deals/codebox_dottedline.png") no-repeat center right;
}
.html .reveal-pull-corner-image {
  background: transparent url("http://dispatch.barnesandnoble.com/content/dam/ccr/h/promotional/coupons-deals/codebox_orange.png") no-repeat center right;
}
.html .reveal-pull-corner::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 45px;
  background: -webkit-linear-gradient(right top, transparent 50%, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.4)) 100% 0 no-repeat;
  background: linear-gradient(to left bottom, transparent 50%, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.4)) 100% 0 no-repeat;
  -webkit-transform: translateY(-20px) rotate(-30deg);
  -ms-transform: translateY(-20px) rotate(-30deg);
  transform: translateY(-20px) rotate(-30deg);
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
  border-bottom-left-radius: .5em;
  box-shadow: -0.2em 0.2em 0.3em -0.1em rgba(0, 0, 0, 0.15);
}
.html .screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.html .event-copyrights {
  text-align: center;
  overflow: hidden;
  padding: 0 10px;
  margin-bottom: 30px;
}
.html .event-copyrights p {
  font-size: 10px;
  line-height: 12px;
}
.html .event-5050-txt > a,
.html .event-intro-link {
  border: 1px solid #044D77;
  padding: 10px;
  color: #044D77;
  font-size: 15px;
  line-height: 1;
  margin: 26px 10px 0;
  display: inline-block;
  *float: left;
}
.html .event-intro .event-cta, .html .event-intro .event-intro-link {
  padding: 12px 15px;
  text-transform: uppercase;
  /* create sprite */
}
.html .event-intro .event-cta.locator, .html .event-intro .event-intro-link.locator {
  padding-left: 40px;
  background: transparent url("http://dispatch.barnesandnoble.com/content/dam/ccr/h/events/b-fest/Store_Locator_Graphic_LandingPage.png") no-repeat scroll 12px 9px;
}
.html .event-intro .event-cta.locator:hover, .html .event-intro .event-intro-link.locator:hover {
  background: transparent url("http://dispatch.barnesandnoble.com/content/dam/ccr/h/events/Year-of-harry-potter/EventsLocator_Icon_Rollover.png") no-repeat scroll 15px 10px;
}
.html .event-5050-txt > a:hover,
.html .event-intro-link:hover {
  color: #a3bcd9;
  border: 1px solid #a3bcd9;
  text-decoration: none;
}
.html .event-border-top {
  border-top: 1px solid #e7e6e4;
  margin-top: 42px;
  padding-top: 40px;
}
.html .hero1600 {
  position: relative;
}
.html .hero1600-header {
  position: absolute;
  text-align: center;
  padding: 0;
  height: auto;
  width: 100%;
  top: 58px;
  z-index: 1;
}
.html .hero1600 figure {
  min-height: 150px;
}
.html .hero1600 img {
  position: relative;
  top: 0;
  left: -318px;
  z-index: -1;
  text-align: center;
}
.html .hero1600 h1 {
  position: relative;
  font-family: Milo;
  font-size: 60px;
  line-height: 45px;
  font-weight: normal;
  padding-top: 4px;
  text-align: center;
  vertical-align: middle;
}
.html .hero1600 h2 {
  font-family: Milo;
  font-size: 20px;
  line-height: 26px;
  font-weight: normal;
  padding: 5px 0;
  text-transform: none;
  text-align: center;
}
.html .event-intro {
  padding: 30px 40px 39px;
}
.html .event-intro h2 {
  font-family: Milo;
  font-size: 50px;
  line-height: 54px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 20px;
}
.html .event-intro nobr {
  font-family: inherit;
  font-weight: inherit;
}
.html .event-intro p {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}
.html .event-intro p a {
  font-family: inherit;
  font-size: inherit;
}
.html .event-intro-links {
  margin: 0 auto 0;
  /* width: 530px; */
  text-align: center;
}
.html .event-banner, .html .event-banner-text {
  position: relative;
  /* background: rgba(0, 0, 0, 0) url("http://dispatch.barnesandnoble.com/content/dam/ccr/h/events/Year-of-harry-potter/Events_HarryPotter_LP_Banner.jpg") no-repeat scroll 0 0;*/
  border-bottom: 1px solid #e7e6e4;
  border-top: 1px solid #e7e6e4;
  line-height: 0;
  text-align: center;
  margin: 0 auto 30px;
}
.html .event-banner img, .html .event-banner-text img {
  max-width: 100%;
  min-height: 70px;
}
.html .event-banner-text a {
  display: table;
  vertical-align: middle;
  width: 100%;
  height: 110px;
  overflow: hidden;
  color: #000000;
}
.html .event-banner-text a:hover {
  color: #000000;
  text-decoration: none;
}
.html .event-banner-text p {
  display: table-cell;
  vertical-align: middle;
  font-family: Milo;
  font-size: 26px;
  line-height: 1.2;
  padding: 5px;
  text-align: center;
  width: 100%;
}
.html .event-5050 {
  clear: left;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  min-height: 150px;
  padding: 30px 0;
  overflow: hidden;
  border-bottom: 1px solid #e7e6e4;
}
.html .event-5050:nth-of-type(odd) {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.html .event-5050:last-of-type {
  margin-bottom: 30px;
}
.html .event-5050 .event-5050-txt {
  padding: 0 30px 0;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}
.html .event-5050 .event-5050-txt p {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.html .event-5050 .event-5050-img, .html .event-5050 .event-5050-txt {
  max-width: 50%;
  flex: 0 0 auto;
  align-items: center;
  overflow: hidden;
}
.html .event-5050-txt h3 {
  color: #000;
  font-family: Milo;
  font-weight: normal;
  font-size: 32px;
  line-height: 1.4;
  margin: 0 0 15px 0;
}
.html .event-5050-txt a {
  font-family: inherit;
  font-size: inherit;
}
.html .event-5050-txt i {
  font-family: inherit;
  font-size: inherit;
  font-style: italic;
}
.html .event-5050-txt a.shop-now {
  display: block;
  overflow: hidden;
  width: 100px;
  margin: 30px auto 0 auto;
  line-height: 1;
  border: 1px solid #3169a8;
  padding: 10px;
}
.html .lt-ie9 .event-5050 .event-5050-img, .html .ie9 .event-5050 .event-5050-img,
.html .lt-ie9 .event-5050 .event-5050-txt,
.html .ie9 .event-5050 .event-5050-txt {
  float: left;
}
.html .lt-ie9 .event-5050:nth-of-type(odd) .event-5050-img, .html .ie9 .event-5050:nth-of-type(odd) .event-5050-img {
  float: right;
}
.html .lt-ie9 .event-5050 .event-5050-txt, .html .ie9 .event-5050 .event-5050-txt {
  padding-top: 30px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .html {
    /* IE10+ CSS styles go here */
  }
  .html .event-5050 .event-5050-img,
  .html .event-5050 .event-5050-txt {
    float: left;
  }
  .html .event-5050:nth-of-type(odd) .event-5050-img {
    float: right;
  }
  .html .event-5050 .event-5050-txt {
    padding-top: 30px;
  }
}
.html .event-social-links {
  border-top: 1px solid #e7e6e4;
  text-align: center;
  overflow: hidden;
  margin-bottom: 30px;
}
.html .event-social-hashtag {
  font-size: 20px;
  line-height: 1.4;
  margin: 50px 0 30px 0;
  display: block;
}
.html .event-social-link {
  display: inline-block;
  *float: left;
  margin-left: 8px;
  width: 79px;
  height: 74px;
  overflow: hidden;
  background: url(http://dispatch.barnesandnoble.com/content/dam/ccr/social/socialSprite.jpg) no-repeat;
  background-position: 0 0;
  vertical-align: middle;
}
.html .event-social-link.facebook:hover {
  background-position: 0 -81px;
}
.html .event-social-link.twitter {
  background-position: -79px 0;
}
.html .event-social-link.twitter:hover {
  background-position: -79px -81px;
}
.html .event-social-link.instagram {
  background-position: -158px 0;
}
.html .event-social-link.instagram:hover {
  background-position: -158px -81px;
}
.html .event-info {
  border: 1px solid #e7e6e4;
  color: #000000;
  font-family: Milo;
  line-height: 26px;
  margin: 0 auto 12px;
  overflow: hidden;
  width: 720px;
}
.html .event-info-pod {
  float: left;
  max-width: 720px;
}
.html .event-info-pod-img {
  float: left;
  width: 50%;
}
.html .event-info-pod-txt {
  float: right;
  width: 50%;
}
.html .event-info-pod-copy {
  display: block;
  padding: 20px 30px 0;
}
.html .event-info-pod-copy h3, .html .event-info-pod-copy h3 i {
  font-family: Milo;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}
.html .event-info-seperator {
  border-bottom: 1px solid #e7e6e4;
  display: block;
  margin: 20px 0;
}
.html .event-info-pod-date {
  font-size: 16px;
  font-weight: bold;
  font-family: "PTSans",Arial,Helvetica,sans-serif;
  margin-bottom: 15px;
  display: block;
}
.html .event-info-copy {
  font-family: "PTSans",Arial,Helvetica,sans-serif;
  font-size: 16px;
  margin-bottom: 15px;
  display: block;
}
.html .event-info-copy a {
  font-family: inherit;
  font-size: inherit;
}
.html .card a:hover, .html .card a:focus, .html .card a:hover {
  text-decoration: none;
}
.html .calendar-bottom-wrapper
.caroufredsel_wrapper {
  margin: 0 auto !important;
}
.html .calendar-bottom-wrapper {
  margin: 0 auto 30px;
  position: relative;
  width: 780px;
}
.html .calendar-bottom {
  display: block;
  width: 720px;
  height: 224px;
  overflow: hidden;
}
.html .calendar-bottom-content {
  float: left;
  height: 224px;
  margin: 0 7px;
  width: 231px;
}
.html .card-ref.current .card-image,
.html .card-ref.ended span .card-image {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.html .card-ref.current span.cardimage, .html .card-ref.ended span.cardimage {
  background-color: #000000;
  display: inline-block;
  height: 142px;
  width: 170px;
}
.html .card-ref.current .card-image {
  background-color: #000000;
}
.html .card-image {
  height: 142px;
  max-width: 170px;
}
.html .card-ref:hover, .html .card-ref.current, .html .card-ref.ended.current, .html .card-ref.ended.current:hover {
  border: 4px solid #e7e6e4;
  padding: 9px 0 0;
  color: #000;
}
.html .card-ref {
  border: 1px solid #e7e6e4;
  display: block;
  height: 224px;
  padding: 12px 0 0;
  width: 232px;
  color: #000;
}
.html .card-ref.ended:hover, .html .card-ref.ended {
  border: 1px solid #e7e6e4;
  padding: 12px 0 0;
}
.html .card {
  text-align: center;
}
.html a .card-title {
  font-family: Milo;
  font-size: 18px;
  line-height: 24px;
  display: block;
}
.html .card-date {
  margin: 5px 0 0;
}
.html a .card-date {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
.html div.ec-carousel-backward {
  background-image: url("http://dispatch.barnesandnoble.com/content/dam/ccr/h/events/b-fest/btn_prev_carousel_green.png");
}
.html div.ec-carousel-forward {
  background-image: url("http://dispatch.barnesandnoble.com/content/dam/ccr/h/events/b-fest/btn_next_carousel_green.png");
}
.html .ec-forward.ec-carousel-forward.disabled, .html .ec-backward.ec-carousel-backward.disabled {
  display: none !important;
}
.html .calendar-bottom-wrapper div.ec-carousel-backward, .html .calendar-bottom-wrapper div.ec-carousel-forward {
  top: 25%;
}
.html .ec-carousel-forward, .html .ec-carousel-backward {
  cursor: pointer;
  height: 86px;
  position: absolute;
  top: 35%;
  width: 49px;
  z-index: 99;
}
.html .ec-carousel-forward {
  right: 0;
}
.html .ec-forward.carousel-forward.disabled, .html .ec-backward.carousel-backward.disabled {
  display: none !important;
}
.html .calendar-bottom-wrapper div.carousel-backward, .html .calendar-bottom-wrapper div.carousel-forward {
  top: 25%;
}
