/* Buttons */
/* mimicModule See More buttons */
 .button-module-more{background:#f5f4f0;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(30%,#f5f4f0),color-stop(100%,#dcd8cd));
    background:-webkit-linear-gradient(top,#f5f4f0 30%,#dcd8cd 100%);
    background:linear-gradient(to bottom,#f5f4f0 30%,#dcd8cd 100%);
    -pie-background-image:linear-gradient(to bottom,#f5f4f0 30%,#dcd8cd 100%);
    border:1px solid #b5b2ae;
    /*box-shadow:0 2px 4px -1px #ccc!important;*/
    -webkit-box-shadow:-1px 3px 3px -1px #ccc;
         -moz-box-shadow:-1px 3px 3px -1px #ccc;
               box-shadow: -1px 3px 3px -1px #ccc;  
      color: #3169a8;
       text-decoration: none;
    text-shadow:1px 1px 1px rgba(255,255,255,1); 
    border-radius: 4px; 
    display: inline-block;
    cursor:pointer;
    font-family: PTSans,Arial;
    font-size: 14px;
    font-weight: 400;
    padding: 9px 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.27);
    float: none;
    margin: 0;
    position: absolute;
    right: 0;
    top: 20px;
}
.button-module-more a{text-decoration: none; color: #3169a8; }
.button-module-more:active  {   
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .33) inset ;
    -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .33) inset ; 
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .33) inset ;
}

 

 

.cq-bttn, [class*=cq-bttn] {
    display: inline-block;
    border-radius: 5px;
    color: #FFF;
    font-family: PTSans, Arial;
    font-size: 14px;
    font-weight: 400;
    padding: 9px 30px 8px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -2px 0 rgba(0, 0, 0, .27)
}
[class*=cq-bttn]:disabled {  opacity: .5 }
 
.cq-bttn {
    background: #f5f4f0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #f5f4f0), color-stop(100%, #dcd8cd));
    background: -webkit-linear-gradient(top, #f5f4f0 30%, #dcd8cd 100%);
    background: linear-gradient(to bottom, #f5f4f0 30%, #dcd8cd 100%);
    -pie-background-image: linear-gradient(to bottom, #f5f4f0 30%, #dcd8cd 100%);
    border: 1px solid #b5b2ae;
    -webkit-box-shadow: -1px 3px 3px -1px #ccc;
    box-shadow: 0 2px 4px -1px #ccc;
    color: #2c67aa;
    font-weight:bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1)
}
.cq-bttn:hover { text-decoration: none}
.ie9 .cq-bttn,
.ie9 [class*=cq-bttn] {  filter: none }
[class*=cq-bttn]:focus,
form:focus,
input.cq-bttn:active {  outline: 0 }
[class*=cq-bttn]:active,
input.cq-bttn:active {
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .33) inset;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .33) inset;
}


.cq-bttn-submit {
    background-color: #3674BA;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    font-family: PTSans, Arial;
    font-weight: 700;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .1), rgba(255, 255, 255, .1));
    background-image: linear-gradient(to top, rgba(0, 0, 0, .1), rgba(255, 255, 255, .1));
    -pie-background-image: linear-gradient(to top, rgba(0, 0, 0, .1), rgba(255, 255, 255, .1));
    border: 1px solid #3674BA;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .2), inset 0 0 8px rgba(0, 0, 0, .1), inset 0 1px 0 0 rgba(255, 255, 255, .5);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2), inset 0 0 8px rgba(0, 0, 0, .1), inset 0 1px 0 0 rgba(255, 255, 255, .5);
    color: #fff
}
 
.cq-bttn-submit:hover {
    text-decoration: none;
    cursor: pointer;
    cursor: hand
}
.cq-bttn-submit:active, 
input.cq-bttn-submit:active {
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.33) inset ;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.33) inset ;
}
 
.cq-bttn-shop {
    background-color: #eb6e34;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .1), rgba(255, 255, 255, .1));
    background-image: linear-gradient(to top, rgba(0, 0, 0, .1), rgba(255, 255, 255, .1));
    -pie-background-image: linear-gradient(to top, rgba(0, 0, 0, .1), rgba(255, 255, 255, .1));
    border: 1px solid #c15b24;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .2), inset 0 0 8px rgba(0, 0, 0, .1), inset 0 1px 0 0 rgba(255, 255, 255, .5);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2), inset 0 0 8px rgba(0, 0, 0, .1), inset 0 1px 0 0 rgba(255, 255, 255, .5);
}
.cq-bttn-shop:active, 
input.cq-bttn-shop:active {
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.33) inset ;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.33) inset ;
}

.cq-bttn-action  {
    background-color: #4b8b57;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .1), rgba(255, 255, 255, .1));
    background-image: linear-gradient(to top, rgba(0, 0, 0, .1), rgba(255, 255, 255, .1));
    -pie-background-image: linear-gradient(to top, rgba(0, 0, 0, .1), rgba(255, 255, 255, .1));
    border: 1px solid #3d7141;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .2), inset 0 0 8px rgba(0, 0, 0, .1), inset 0 2px 0 0 rgba(255, 255, 255, .3);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2), inset 0 0 8px rgba(0, 0, 0, .1), inset 0 2px 0 0 rgba(255, 255, 255, .3);
    color: #fff
}  
.cq-bttn-action:active, 
input.cq-bttn-action:active {
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.33) inset;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.33) inset;
}
 
 

 
 /* Reskin 2016 buttons */
 
/*  Original Button on Textbooks - depricated for new standard 
.bttn-txtbks { 
    display: inline-block;
    font-family: GillSans,Arial,sans-serif;
    font-size: 18px;
    line-height:1.6;
    font-weight: 300; 
    margin: 0;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;

    background-color: #346250;
    border: 1px solid #3d7141;
    color: #fff;
}
 
.bttn-txtbks:focus, .bttn-txtbks:hover  {
    text-decoration: none;
    background-color: #fff ;
    border: 1px solid #346250 ;
    color: #346250  ;
    outline: 0 none;
}
*/ 

 

.bttn-base {
    display: inline-block;
    font-family: Lato,sans-serif;
    font-size: 16px;
    line-height:1.6;
    font-weight: 500; 
    min-width:210px;
    margin: 0;
    padding: 16px 20px 14px;
    text-align: center;
    text-decoration: none; 
    border:1px solid transparent;
    position: relative;
}
@media only screen and (max-width: 499px) {  
    .bttn-base { width:95%; }   
}
.bttn-before {
    content:"";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .20);
}
/* Default Green/Primary */
.bttn {  
    @extend .bttn-base;
    background-color: #366250;
    border-color: #366250;
    color: #fff; 
    outline: 0 none; 
}
.bttn:hover  {
    text-decoration: none;
    // background-color: #315143 ;  
}
.bttn:hover:before{ 
    @extend .bttn-before;
}
.bttn:focus,
button.bttn:active {
    text-decoration: none;
    // background-color: #315143;
    border-color: #fff;  
    -webkit-box-shadow:0  0 5px 5px rgba(49, 81, 67, 0.3);
    box-shadow: 0  0 5px 5px rgba(49, 81, 67, 0.3);
}
 
/* Default Green Sibling/Secondary*/
.bttn-sibling { 
    @extend .bttn-base;
    background-color: #fff;
    border-color: #366250;
    color: #056937; 
    outline: 0 none; 
} 
.bttn-sibling:hover  {
    text-decoration: none; 
    border-color:#315143;  
    -webkit-box-shadow: inset 0 0 0 1px rgba(49, 81, 67, 1);
    box-shadow: inset 0 0 0 1px rgba(49, 81, 67, 1);
}
 
.bttn-sibling:focus,
button.bttn-sibling:active {
    text-decoration: none; 
    border-color:#315143;   
    -webkit-box-shadow:0  0 5px 5px rgba(49, 81, 67, 0.3), inset 0 0 0 1px rgba(49, 81, 67, 1);;
    box-shadow: 0  0 5px 5px rgba(49, 81, 67, 0.3), inset 0 0 0 1px rgba(49, 81, 67, 1);;
}



/* Action Red/Primary */
.bttn-action {  
    @extend .bttn-base;
    background-color: #ee3924;
    border-color: #ee3924;
    color: #fff; 
    outline: 0 none; 
}
.bttn-action:hover  {
    text-decoration: none;
    // background-color: #B23B27;  
    border-color: #B23B27;
}
.bttn-action:hover:before{ 
    @extend .bttn-before;
}
.bttn-action:focus,
button.bttn-action:active {
    text-decoration: none;
    // background-color: #B23B27;
    border-color: #fff;  
    -webkit-box-shadow:0  0 5px 5px rgba(178, 59, 39, 0.3);
    box-shadow: 0  0 5px 5px rgba(178, 59, 39, 0.3);
}
 
/* Action Red/Sibling/Secondary*/
.bttn-action-sibling { 
    @extend .bttn-base;
    background-color: #fff;
    border-color: #B23B27;
    color: #B23B27; 
    outline: 0 none; 
} 
.bttn-action-sibling:hover  {
    text-decoration: none; 
    border-color:#B23B27;  
    color: #B23B27; 
    -webkit-box-shadow: inset 0 0 0 1px rgba(178, 59, 39, 1);
    box-shadow: inset 0 0 0 1px rgba(178, 59, 39, 1);
}
 
.bttn-action-sibling:focus,
button.bttn-action-sibling:active {
    text-decoration: none; 
    border-color: #B23B27;   
    color: #B23B27; 
    -webkit-box-shadow:0  0 5px 5px rgba(178, 59, 39, 0.3), inset 0 0 0 1px rgba(178, 59, 39, 1);;
    box-shadow: 0  0 5px 5px rgba(178, 59, 39, 0.3), inset 0 0 0 1px rgba(178, 59, 39, 1);;
}



/* Commerce Blue/Primary */
.bttn-commerce {  
    @extend .bttn-base;
    background-color: #356DB5;
    border-color: #356DB5;
    color: #fff; 
    outline: 0 none; 
}
.bttn-commerce:hover  {
    text-decoration: none;
    // background-color: #B23B27;  
    border-color: #3D5B8B;
}
.bttn-commerce:hover:before{ 
    @extend .bttn-before;
}
.bttn-commerce:focus,
button.bttn-commerce:active {
    text-decoration: none;
    // background-color: #B23B27;
    border-color: #fff;  
    -webkit-box-shadow:0  0 5px 5px rgba(61, 91, 139, 0.3);
    box-shadow: 0  0 5px 5px rgba(61, 91, 139, 0.3);
}
 
/* Commerce Blue/Sibling/Secondary*/
.bttn-commerce-sibling { 
    @extend .bttn-base;
    background-color: #fff;
    border-color: #3E6DB5;
    color: #3E6DB5; 
    outline: 0 none; 
} 
.bttn-commerce-sibling:hover  {
    text-decoration: none; 
    border-color:#3D5B8B;  
    color: #3D5B8B; 
    -webkit-box-shadow: inset 0 0 0 1px rgba(61, 91, 139, 1);
    box-shadow: inset 0 0 0 1px rgba(61, 91, 139, 1);
}
 
.bttn-commerce-sibling:focus,
button.bttn-commerce-sibling:active {
    text-decoration: none; 
    border-color: #3D5B8B;   
    color: #3D5B8B ; 
    -webkit-box-shadow:0  0 5px 5px rgba(61, 91, 139, 0.3), inset 0 0 0 1px rgba(61, 91, 139, 1);;
    box-shadow: 0  0 5px 5px rgba(61, 91, 139, 0.3), inset 0 0 0 1px rgba(61, 91, 139, 1);;
}





