@media only screen and (min-width: 700px) {
    .fat-cat {
        display: none;
    }
    .fat-cat ul.slick-dots {
        display: inline;
        li{
            display: inline-block;s
        }
    }
}
