.pageshell .row{
        border-top: 1px solid #ccc;
        font-family: Poynter, sans-serif;
    }
    .pageshell .row.cafe-table-header{
        border-top: none;
        text-transform: uppercase;
        font-family: Lato, sans-serif;
        font-size: 12px;
        font-weight: 600;
    }
    .pageshell .row div{
        display: inline-block;
        vertical-align: middle;
    }
    .cafe-item{
        font-family: Lato, sans-serif;
    }